<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td><a href="https://www.ediciones-eni.com/open/mediabook.aspx?idR=16467e7fcf4de28b6624902e913bc711">Consideraciones</a> </td>
            <td>
              <strong>ADO.Net</strong> Es un conjunto de componentes del software que pueden ser usados por los programadores para acceder a datos y a servicios de datos. Es parte de la biblioteca de clases base que están incluidas en el Microsoft .NET Framework.<br>
              <strong>Me</strong>Proporciona una forma de hacer referencia a la instancia actual, estructura o clase en la cual se ejecuta el codigo<br>
              <strong>IspostBack</strong>Devuelve un Boolean false si se muestra por primera vez la instancia o true si se muestra en respuesta a un response del servidor<br>
              <strong>My</strong>Para hacer referencia al usuario que ejecuta la aplicacion<br>
              <strong>DataSet</strong>Un objeto DataSet es un contenedor, similar lógicamente a una base de datos. Es el que contendrá la totalidad de datos del conjunto sobre el que se desea trabajar. representa en cache datos en memoria<br>
              <strong>DataTable</strong>El tipo DataTable representa, como su propio nombre indica, una tabla. Un objeto DataTable, si bien puede existir independientemente, está lógicamente contenido en un DataSet.<br>
              <strong>DataColumn</strong>La clase DataColumn es el equivalente .NET de las columnas SQL. Los DataTable poseen varios DataColumn, como las tablas en base de datos poseen varias columnas.<br>
              <strong>DataRow</strong>Los objetos DataRow son los verdaderos contenedores de los datos. Cada DataRow se corresponde con un registro en un DataTable.<br>
              <strong>DataBind</strong>Enlaza el origen de datos al control GridView<br>
              <strong>Me</strong> <br>
              <strong>Me</strong> <br>
              <strong>Me</strong> <br>
            </td>
            <td></td>
          </tr>

          <tr>
              <td>Variables</td>
              <td>
                tambien podemos definir variables de tipo <strong>Const</strong> Debe de ir en mayuscula y no se puede sobre-escribir <br><br>
                <strong>Const</strong> VARIABLEX <strong>As Double</strong> = 2.5 <br>
                <strong>Dim</strong> VariableY <strong>As Char</strong> = "a" <br>
                <strong>Dim</strong> Condicion <strong>As Boolean</strong> = True <br><br><br>
                <img
                src="../../../../../assets/FrontEnd/VB/array.png"
                alt="array"
                title="array"> <br><br>
                Array Bidimensional
                <img
                src="../../../../../assets/FrontEnd/VB/arrayBidimensional.png"
                alt="arrayBidimensional"
                title="arrayBidimensional">
              </td>
              <td>1.
                <img
                src="../../../../../assets/FrontEnd/VB/variables.png"
                alt="variables"
                title="variables"><br><br>
                2.
                <img
                src="../../../../../assets/FrontEnd/VB/tiposDatos.png"
                alt="tiposDatos"
                title="tiposDatos">
              </td>
          </tr>

          <tr>
              <td>Leer y escribir por consola</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/leeryEscribir.png"
                alt="leeryEscribir"
                title="leeryEscribir">
            </td>
          </tr>

          <tr>
              <td>Conversiones de variables</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/ConversionVariables.png"
                alt="ConversionVariables"
                title="ConversionVariables">
            </td>
          </tr>
          <tr>
              <td>Operadores de comparacion</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/OperadoresComparacion.png"
                alt="OperadoresComparacion"
                title="OperadoresComparacion">
            </td>
          </tr>

          <tr>
              <td>Operadores Aritmeticos</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/operadoresAritmeticos.png"
                alt="operadoresAritmeticos"
                title="operadoresAritmeticos">
            </td>
          </tr>
          <tr>
              <td>if</td>
              <td></td>
              <td>
                1.
                <img
                src="../../../../../assets/FrontEnd/VB/if.png"
                alt="if"
                title="if"><br>
                2.
                <img
                src="../../../../../assets/FrontEnd/VB/if2.png"
                alt="if2"
                title="if2">
            </td>
          </tr>

          <tr>
              <td>Case</td>
              <td></td>
              <td>
                1.
                <img
                src="../../../../../assets/FrontEnd/VB/case.png"
                alt="case"
                title="case"> <br>
                2.
                <img
                src="../../../../../assets/FrontEnd/VB/case2.png"
                alt="case2"
                title="case2">
            </td>
          </tr>

          <tr>
              <td>for</td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/ForeEach.png"
                alt="ForeEach"
                title="ForeEach">
              </td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/For.png"
                alt="For"
                title="For">
            </td>
          </tr>

          <tr>
            <td>procedimiento</td>
            <td>
              VB permite definir varios procedimientos entre ellos: <br><br>
              1. procedimiento Sub. <strong>No retornan valores, pueden o no recibir parametros</strong><br>
              2. procedimiento Function. <strong>Si retornan valores, pueden o no recibir parametros</strong><br>
              3. procedimiento Property. <br>
              4. procedimiento Operators. <br>
            </td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/procedimiento.png"
              alt="procedimiento"
              title="procedimiento">
          </td>
          </tr>

          <tr>
            <td>funcion</td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/funcion.png"
              alt="funcion"
              title="funcion">
          </td>
          </tr>

          <tr>
            <td>ParametrosOpcionesVref</td>
            <td colspan="2">
              <img
              src="../../../../../assets/FrontEnd/VB/ParametrosOpcionesVref.png"
              alt="ParametrosOpcionesVref"
              title="ParametrosOpcionesVref">
            </td>
          </tr>

          <tr>
            <td>PasoParametrosIndefinidos</td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/PasoParametrosIndefinidos.png"
              alt="PasoParametrosIndefinidos"
              title="PasoParametrosIndefinidos">
            </td>
          </tr>

          <tr>
            <td>Metodos para <strong>String</strong></td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/MethodsString.png"
              alt="MethodsString"
              title="MethodsString"><br><br>
              2.
              <img
              src="../../../../../assets/FrontEnd/VB/MethosString.png"
              alt="MethosString"
              title="MethosString">
            </td>
          </tr>

          <tr>
              <td colspan="3">POO</td>
          </tr>

          <tr>
            <td>Constructor</td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/Constructor.png"
              alt="Constructor"
              title="Constructor">
            </td>
          </tr>

          <tr>
            <td>Set, get, Property </td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/instaciacionDeObjeto.png"
              alt="instaciacionDeObjeto"
              title="instaciacionDeObjeto">
            </td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/getSetProperty.png"
              alt="getSetProperty"
              title="getSetProperty">
            </td>
          </tr>

          <tr>
              <td>Sobrecarga de Metodos</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/sobrecargade Methods.png"
                alt="sobrecargade Methods"
                title="sobrecargade Methods">
              </td>
          </tr>

          <tr>
            <td><a href="https://www.youtube.com/watch?v=IPjuQ_y12hA&list=PL7tWmaH04EfIG-ZGq4D6GlO1Pl-iNbVay&index=41"> Shared </a></td>
            <td>
              En cada clase podemos definir una serie de atributos y metodos que cuando instanciamos un nuevo objeto estos pueden usar, es decir que con cada nuevo objeto que creemos vamos a tener una copia <strong>independiente </strong> de esos atributos y metodos.. Ahora con un atributo o metodo declarado como static para Java o Shared para Vb cada objeto no va a tener una copia de esa esa variable o metodo que declaremos con static o shared <strong>sino que van a compartir una sola variable o metodo para todos los objetos que creemos </strong> <br><br>
              y al igual que en Java en VB <strong> no es necesario instanciar un nuevo obejto para usar el atributo o metodo declarado con static o shared </strong><br><br>
              <img
              src="../../../../../assets/FrontEnd/VB/Shared.png"
              alt="Shared"
              title="Shared">
            </td>
            <td>
              Shared atributo
              <img
              src="../../../../../assets/FrontEnd/VB/SharedCodigo.png"
              alt="SharedCodigo"
              title="SharedCodigo"><br><br>
              Shared Function= Matematicas.potenciacion(5,3)  //125
              <img
              src="../../../../../assets/FrontEnd/VB/sharedFunction.png"
              alt="sharedFunction"
              title="sharedFunction">
            </td>
          </tr>

          <tr>
              <td>Asociacion</td>
              <td>
                El concepto de asociacion es el tener dos clases separadas para unirlas por medio de un atributo o metodo <br><br>
                El la asociacion hay dos terminos o dos partes importantes. <br><br>
                1. la clase que inicia la asociacion. <br>
                2. la clase asociada <br><br>
                En resumen la clase que inicia la asociacion va a tener como atributo los atributos y metodos de la clase asociada de la forma en la cual se muestra la imagen <br><br>
                En la imagen es posible identificar la <strong>multiplicidad (que relacion tienen dos entidades)</strong> que son los numeros 1's de uno a uno (para este ejemplo   una cuenta de ahorros tiene un cliente asociado) se define un nombre de asociacion <br><br>
                Ahora en la siguiente imagen podemos identificar la asociacion inyectando cte""Cliente" que es de tipo Cliente <br><br>
                tambien identificamos el concepto de shared o static <br><br>
                y con la palabra reservada <strong>Nothing </strong> le damos un valor inicial al atibuto cte cada vez que cree un nuevo objeto <br><br>
              </td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/Asociacion.png"
                alt="Asociacion"
                title="Asociacion"> <br><br>
                <img
                src="../../../../../assets/FrontEnd/VB/asociacion2.png"
                alt="asociacion2"
                title="asociacion2">
              </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>


      </tbody>
  </table>
</div>
