<div>
    <nav>
        <ul>
            <li *ngFor="let menu of lista">
                <a routerLink="/{{menu}}"
                routerLinkActive="active">{{menu}}</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <div class="container">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead>
                <tr>
                    <th scope="col">Referencia</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Ejemplo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>framework FrontEnd</strong></td>
                    <td>
                        hay tres Frameworks o librerias o marcos de trabajo (populares) en el frontEnd <br><br>
                        1. Angular: google  <br>
                        2. React: facebook<br>
                        3. Vue-Js: Por deiversas compañias .<br>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                  <td><strong>framework BackEnd con Java</strong></td>
                  <td>
                      Frameworks o librerias o marcos de trabajo (Segun aparicion cronologica) en el BackEnd <br><br>
                      1. html static <br>
                      2. CGI scripts  <br>
                      3. Java Servlet<br>
                      4. Java Server Page JSP<br>
                      5. Java Server Faces JSF<br>
                  </td>
                  <td>
                    <img
                    src="../../../../../assets/framework/FrameworkJava.png"
                    alt="FrameworkJava"
                    title="FrameworkJava"><br><br>
                  </td>
              </tr>

                <tr>
                    <td><strong><a href="https://medium.com/javarevisited/10-best-frontend-and-backend-frameworks-for-java-python-ruby-and-javascript-developers-cce3c951787a">Principales Framewoks</a></strong></td>
                    <td>
                        1. React.js [Frontend + JavaScript] <br>
                        2. Spring Boot [Backend + Java] <br>
                        3. Angular [Frontend + JavaScript] <br>
                        4. Node.js [Backend + JavaScript] <br>
                        5. Django [Frontend + Backend + Python] <br>
                        6. Frasco [Backend + Python] <br>
                        7. Bootstrap [Frontend + CSS] <br>
                        8. jQuery [Frontend + JavaScript] <br>
                        9. Ruby on Rails [Backend + Ruby] <br>
                        10. GraphQL [Backend + JavaScript]
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td>Consideraciones</td>
                    <td>

                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
