<div>
    <nav>
        <ul>
            <li *ngFor="let menu of lista">
                <a routerLink="/{{menu}}"
                routerLinkActive="active">{{menu}}</a>
            </li>
        </ul>
    </nav>
    <div>
      <strong>JSF NO ES UN FRAMEWORK ES LA ESPECIFICACION O STANDAR primeFaces, RichFaces... entre otros son frameworks son los que usan la especificacion de JSF</strong> <br><br>
      <strong>REACT NO ES UN FRAMEWORK es una libreria de Javascript</strong> <br><br>
    </div>
</div>

<div>
    <div class="container">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead>
                <tr>
                    <th scope="col">Referencia</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Ejemplo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Atajos de teclado</td>
                  <td>
                    <a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf">Windows</a><br><br>
                    <a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf">macOS</a><br><br>
                    <a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-linux.pdf">Linux</a><br><br>
                  </td>
                  <td></td>
                </tr>

                <tr>
                    <td>creacion de paginas web: informacion</td>
                    <td>
                      <a href="https://www.youtube.com/watch?v=H5Bvqby-2k8&list=PL3vxkSlW2FvWzjf0NdxcivmyhrW6CdxhB">Desarrollo Web con Java EE</a>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>framework FrontEnd</strong></td>
                    <td>
                        hay tres Frameworks o librerias o marcos de trabajo (populares) en el frontEnd <br><br>
                        1. Angular: google  <br>
                        2. React: facebook<br>
                        3. Vue-Js: Por deiversas compañias .<br>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                  <td>Java Spring (Framework) Vs Java SpringBoot</td>
                  <td>
                    1ro. fue Spring(Framewok) y despues SpringBoot <br><br>
                    2do.la confusión o duda, viene porque ambos nos permiten crear una aplicación Spring, pero siguiendo caminos un poco diferentes <br><br>
                    <a href="https://blog.nubecolectiva.com/cual-es-la-diferencia-entre-spring-framework-y-spring-boot/">info1</a><br>
                    <a href="https://www.turing.com/kb/spring-vs-spring-boots-best-web-apps#key-differences-between-spring-and-spring-boot">info2</a>
                  </td>
                  <td>
                    <img
                    src="../../../../../assets/framework/SpringVsSpringBoot.PNG"
                    title="SpringVsSpringBoot.png"><br><br>
                  </td>
                </tr>

                <tr>
                  <td>Contenedor de aplicaciones</td>
                  <td>
                      Java spring emplea como contenedor de aplicaciones o contenedor de servlet por defecto <strong>Tomcat Y Jetty O Undertow</strong><br><br>
                      <strong>Docker y Kubernetes</strong><br>
                      Para Despliege de Apps: Son plataformas para despliegue de aplicaciones de microservicios, <strong>Docker</strong> crea un container en el cual se puede ejecutar la aplicacion y <strong>kubernete</strong> toma el contenedor para desplegar la aplicacion con un escalamiento de forma horizontal <strong>informacion todama de go.ts</strong>
                  </td>
                  <td></td>
                </tr>

                <tr>
                    <td><strong><a href="https://medium.com/javarevisited/10-best-frontend-and-backend-frameworks-for-java-python-ruby-and-javascript-developers-cce3c951787a">Principales Framewoks</a></strong></td>
                    <td>
                        1. React.js [Frontend + JavaScript] <strong>NO ES UN FRAMEWORK</strong> <a href="https://developer.mozilla.org/es/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_getting_started">info</a><br>
                        2. SpringBoot [Backend + Java] <br>
                        3. Angular [Frontend + JavaScript] <br>
                        4. Node.js [Backend + JavaScript] <br>
                        5. Django [Frontend + Backend + Python] <br>
                        6. Frasco [Backend + Python] <br>
                        7. Bootstrap [Frontend + CSS] <br>
                        8. jQuery [Frontend + JavaScript] <br>
                        9. Ruby on Rails [Backend + Ruby] <br>
                        10. GraphQL [Backend + JavaScript]
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                  <td><strong><a href="https://es.acervolima.com/cuales-son-las-diferencias-entre-una-anotacion-y-un-decorador-en-angular/#:~:text=Diferencias%20entre%20anotaci%C3%B3n%20y%20decorador%3A&text=Decorador%20corresponde%20a%20una%20funci%C3%B3n,objeto%20que%20necesita%20ser%20decorado.">Decoradores vs Anotaciones</a></strong></td>
                  <td>
                    Existen principalmente tres tipos de anotaciones en java: <br><br> * <strong>Anotación de marcador</strong> (sin ningún método), <br>* <strong>Anotación de valor único</strong> (con un solo método). <br> * <strong>Anotación de valores múltiples</strong> (con más de un método). <br><br>La anotación <strong>@Target</strong> es una meta-anotación, es decir, solo se puede usar para anotar otras anotaciones. Toma la enumeración de ElementType como su único argumento.<br><br> La enumeración <strong>ElementType</strong> es una constante que especifica el tipo de declaración del elemento del programa (clase, interfaz, constructor, etc.) a la que se puede aplicar la anotación. Si aplicamos la anotación @Target con algún tipo de elemento como anotación a un nombre de anotación personalizado CustomAnnotation <br><br>

                    <strong>Anotaciones</strong>: esta es una característica de lenguaje codificada. Las anotaciones son solo metadatos establecidos en la clase que se usa para reflejar la biblioteca de metadatos. Cuando el usuario anota una clase, el compilador crea un atributo en esa clase llamado anotaciones , almacena una matriz de anotaciones en ella, luego intenta instanciar un objeto con el mismo nombre que la anotación, pasando los metadatos al constructor.<br><br>
                    <strong>Decoradores</strong> : un decorador es una función que agrega metadatos a una clase, sus miembros o los argumentos de su método. Un decorador es solo una función que le da acceso al objetivo que debe decorarse. Hay cuatro tipos de decoradores, todos ellos se mencionan a continuación:
                    <br><br>
                    Tipos de decoradores:
                    <br><br>
                    <strong>1. Decoradores de clases</strong> como @Component, @NgModule <br>
                    <strong>2. Decoradores de propiedades</strong> como @Input y @Output <br>
                    <strong>3. Decoradores de métodos</strong> como @HostListener <br>
                    <strong>4. Decoradores de parámetros</strong> como @Injectable  <br>

                  </td>
                  <td>
                    <img
                    src="../../../../../assets/framework/AnotacionesVSDecoradores.png"
                    alt="AnotacionesVSDecoradores.png"
                    title="AnotacionesVSDecoradores.png"><br><br>
                  </td>
                </tr>

                <tr>
                    <td><strong>framework BackEnd con Java</strong></td>
                    <td>
                        Frameworks o librerias o marcos de trabajo (Segun aparicion cronologica) en el BackEnd <br><br>
                        1. html static <br>
                        2. CGI scripts  <br>
                        3. Java Servlet<br>
                        4. Java Server Page JSP<br>
                        5. Java Server Faces JSF<br><br>
                        <strong>CGI (Common Gateway Interface) Interfaz de entrada Comun Es una tecnologia importante que permite al Cliente solicitar informacion al servidor </strong>Las aplicaciones CGI fueron una de las primeras prácticas de crear contenido dinámico para las páginas web.
                    </td>
                    <td>
                        <img
                        src="../../../../../assets/framework/FrameworkJava.png"
                        alt="FrameworkJava"
                        title="FrameworkJava"><br><br>
                    </td>
                </tr>

                <tr>
                    <td>Consideraciones</td>
                    <td>
                        <a href="https://www.youtube.com/watch?v=eb0Qz8XfVVE"> Que es un servidor de aplicaciones en java</a>

                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
