<div>
    <nav>
        <ul>
            <li *ngFor="let menu of lista">
                <a routerLink="/{{menu}}"
                    routerLinkActive="active">{{menu}}</a>
            </li>
        </ul>
    </nav>
</div>
<div>
    <div class="container">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead>
                <tr>
                    <th scope="col">Referencia</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Ejemplo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <tr>
                    <td><strong>3 conceptos </strong></td>
                    <td>
                        hay tres conceptos entorno a las Bases de Datos <br><br>
                        1. Lenguaje <br>
                        2. motor: Software que provee un conjunto de servicios encargados de administrar una base de datos. PostgreSql, SqlServer, mongoDb...entre otros <br>
                        3. servidor: Es el equipo que provee el hardware para que el motor instale la BD. Computador que tiene un motor de base de datos instalado y en ejecución.<br>
                    </td>
                    <td>
                        Ahora bien estas bases de datos como PostgreSQL son <strong>Objecto-Relacional</strong> esto quiere decir que tienen una estructura como la de programacion orientada a objetos donde tiene herencia, interfaces <br><br><br>
                        <img
                        src="../../../../../assets/bd/tipoDato.png"
                        alt="tipoDato"
                        title="tipoDato">
                    </td>
                </tr>

                <tr>
                  <td>Tipos de datos</td>
                  <td></td>
                  <td></td>
                </tr>

                <div class="prueba"></div>

                <tr>
                    <td>Standar <strong>ACID</strong></td>
                    <td>Es el standar que deben de cumplir las bases de datos</td>
                    <td>
                        • A: Atomicity – Atomicidad -> Separar las funciones desarrolladas en la BD como pequeñas tareas y ejecutarlas como un todo. Si alguna tarea falla se hace un rollback(Se deshacen los cambios) <br><br>
                        • C: Consistency – Consistencia -> Todo lo que se desarrolló en base al objeto relacional. Los datos tienen congruencia <br><br>
                        • I: Isolation – Aislamiento -> Varias tareas ejecutándose al mismo tiempo dentro de la BD<br><br>
                        • D: Durability – Durabilidad -> Puedes tener seguridad que la información no se perderá por un fallo catastrófico. PostgreSQL guarda la información en una Bitácora<br><br>
                    </td>
                </tr>
                <tr>
                    <td>Constraints(Restricciones)</td>
                    <td>
                        <strong>NOT NULL </strong> : garantiza que los valores de una columna no puedan serlo NULL. <br><br>
                        <strong>UNIQUE</strong> : garantiza que los valores de una columna sean únicos en las filas de la misma tabla.<br><br>
                        <strong>PRIMARY KEY</strong> : una columna de clave primaria que identifica de forma exclusiva las filas de una tabla. Una tabla puede tener una y solo una clave principal. La restricción de clave principal le permite definir la clave principal de una tabla.<br><br>
                        <strong>CHECK</strong> : una CHECKrestricción garantiza que los datos deben satisfacer una expresión booleana.<br><br>
                        <strong>FOREING KEY</strong> : garantiza que los valores en una columna o un grupo de columnas de una tabla existan en una columna o grupo de columnas en otra tabla. A diferencia de la clave principal, una tabla puede tener muchas claves externas.<br><br>
                        <strong>Deafult</strong> Coloca un valor por defecto cuando no hay un valor especificado <br><br>
                        <strong>index </strong>Se crea por columna para permitir busquedas mas rapidas <br><br>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>SQL = RBD Bases de Datos Relacionales</td>
                    <td>
                      SqlServer = Microsoft <br>
                      Oracle = Oracle <br>
                      MySql(antes era de SunMicroSystem) = Oracle <br>
                      MySql(Open Source) = Oracle <br>
                      PostgreSQL(Open Source) <br>
                      MariaDB <br>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>NoSql = BD no relacionales</td>
                    <td>
                      mainCash <br>
                      casandra de <strong>Facebook</strong> <br>
                      MongoDB <br>
                      fireStore <br>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>Tecnisismo</td>
                    <td>
                      * las entidades son las tablas <strong>rectangulo</strong> <br>
                      * los atributos con los campos <strong>ovalo</strong> <br>
                      * hay atributos que son multivaluado (tiene multiples valores) <strong>ovalo doble</strong><br>
                      * hay atributos que compuestos que en ellos hay otros atributos <strong>motor</strong>
                      * hay atributos que se pueden inferir de acuerdo a la logica <strong>ovalo punteado</strong><br>
                      * el atributo que identifica de manera unica a un objeto es <strong>subraydo</strong> y este atributo puede ser natural o artificial es decir natural que no se puede separar del objeto(cedula, numero de serie..etc) y el artificial hace referencia al que le asignados de manera apropositamente la diferenciar un objeto del otro ejemplo un <strong>id</strong>
                    </td>
                    <td>
                      <img
                      src="../../../../../assets/bd/BD.png"
                      alt="BD"
                      title="BD"><br><br>
                      <img
                      src="../../../../../assets/bd/DB2.png"
                      alt="DB2"
                      title="DB2">
                    </td>
                </tr>
                <tr>
                    <td> <a href="https://platzi.com/clases/1566-bd/20197-entidades-y-atributos/">
                      Entidades fuertes y debiles</a>
                    </td>
                    <td>
                      la fuerte hace referencia a que no dependen de nadie para existir <br>
                      la debil hace si requieren de otras entidades para existir(pueden ser debiles por entidad o por existencia) <br>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>Relaciones</td>
                    <td>Las relaciones, representadas por un rombo, sirven para crear relaciones entre entidades. Por convención las relaciones son verbos que conectan entidades. Existen entidades multivaluadas o compuestas que tienen vida propia y se relacionan con otras entidades, por lo que se pueden normalizar (concepto que se explicará luego) <br><br>

                    Cardinalidad <br><br>

                    Es una propiedad de las relaciones que indica la cantidad y correspondencia con la que puede estar relacionada una entidad y puede ser uno a uno, uno a varios, varios a uno y varios a varios.</td>
                    <td>
                      <img
                      src="../../../../../assets/bd/Relacion.png"
                      alt="Relacion"
                      title="Relacion">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
