path/to/your/large/file filter=lfs diff=lfs merge=lfs -text
.angular/cache/15.2.4/angular-webpack/cd3ecbcd12a5f8860a910f8c5e1082a38d221e03/3.pack filter=lfs diff=lfs merge=lfs -text
C:/Users/HP/Desktop/JuanTafur/Support-FrontEnd-Angular-full/.angular/cache/15.2.4/angular-webpack/cd3ecbcd12a5f8860a910f8c5e1082a38d221e03 filter=lfs diff=lfs merge=lfs -text
C:/Users/HP/Desktop/JuanTafur/Support-FrontEnd-Angular-full/.angular/cache/15.2.4/angular-webpack/cd3ecbcd12a5f8860a910f8c5e1082a38d221e03/0.pack filter=lfs diff=lfs merge=lfs -text
C:/Users/HP/Desktop/JuanTafur/Support-FrontEnd-Angular-full/.angular/cache/15.2.4/angular-webpack/cd3ecbcd12a5f8860a910f8c5e1082a38d221e03/3.pack filter=lfs diff=lfs merge=lfs -text
.angular/cache/15.2.4/angular-webpack/cd3ecbcd12a5f8860a910f8c5e1082a38d221e03/0.pack filter=lfs diff=lfs merge=lfs -text
