<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <strong>Bases de datos no relacionales</strong></td>
                <td>
                    <strong> Clave - valor: DynamoDB (maneja AWS), Cassandra (Los usa FB)</strong>
                    <p>-Son ideales para almacenar y extraer datos con una clave unica </p>
                    <p>-Manejan diccionarios de manera excepcional Se basan en algoritmos de hash o hashmap</p>

                    <strong>Basadas en documentos: MongoDB, Firestore (servicio en la nube, es un ambiente
                        grafico)</strong>
                    <p> Basadas en objetos de tipo JSON. Ideal para almacenar datos JSON y XML</p>
                    <p>- Son una implementación de clave valor que varía en la forma semiestructurada en que se trata la
                        información</p>
                    <p>- Guarda la forma actual de una aplicación, no son buenas para hacer consulta complejas.</p>

                    <strong> Basadas en grafos: neo4j, TITAN DB</strong>
                    <p> - Nodos o entidades que tienen multiples relaciones. Estan relacionadas TODOS CON TODOS</p>
                    <p> - Se usan en el mundo de la inteligencia artificial, para formar redes neuronales</p>

                    <strong>En memoria: Memcached, Redis</strong>
                    <p>- Su mayor ventaja es que son sumamente rapidas, La respuesta llega en el minimo de tiempo</p>
                    <p>- Su desventaja es que son limitadas y hay que guardar cosas en disco</p>
                    <p>- Otra desventaja es que son volatiles (si se reinicia, hay que indexar, volver a traer la
                        información del disco)</p>

                    <strong>Optimizadas para búsqueda: Elasticsearch BigQuery (la ofrece Google)</strong>
                    <p> - Se usa para hacer queries complejos</p>
                    <p> - Sirven como grandes repositorios de datos, muchas veces historicos</p>
                    <p> - Son utilizadas en Business Inteligent y Machine learning</p>

                </td>
                <td>
                    <img src="../../../../../assets/bd/NoSql firestore/ejemplosNotSQL.png"
                        alt="bases datos norelacionales"> <br><br>
                    <img src="../../../../../assets/bd/NoSql firestore/estructuraFirestore.png"
                        alt="estructura o jerarquia">
                </td>
            </tr>

            <tr>
                <td>
                    <a href="https://firebase.google.com/">*Firebase Servicio apliacaciones web y moviles </a> <br>
                    <a href="https://platzi.com/clases/1566-bd/19828-colecciones-vs-subcolecciones/">*Colecciones vs subcolecciones</a><br>
                    <a href="https://platzi.com/clases/1566-bd/20158-construyendo-platziblog-en-firestore/">*Construyendo Platziblog en Firestore</a><br>
                </td>
                <td>
                    <p>Las top level collections son las colecciones que se tienen de inmediato o entrada en el
                        proyecto.</p>
                       


                    <p> <strong>Tabla -> Colección...... Tupla o renglon -> Documento </strong></p>
                    <p>La particularidad de las top level collections es que existen en el primer nivel de manera
                        intrínseca. Las subcolecciones ya no vivirán al inicio de la base de datos
                         Si tienes una entidad separada que vas a referenciar desde muchos lugares es recomendado usar un
                        top level collection.Por el otro lado si se necesita hacer algo intrínseco al documento es aconsejable usar
                        subcolecciones.
                    </p> 
                    <p>resumen: Dentro de las Colecciones existen 2 grandes tipos. Las Top level collection o colecciones de nivel superior y las subcollections o subcolecciones.
                         Estas últimas viven únicamente dentro de un documento padre.</p>

                </td>
                <td>
                    <img src="../../../../../assets/bd/NoSql firestore/tiposDedato.png" alt="tipos datosy emplo">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>