<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> De pregunta a Query... que operacion deseas realizar? </td>
                <td>

                    Lo que quieres mostrar = SELECT
                    De donde voy a tomar los datos = FROM
                    Los filtros de los datos que quieres mostrar = WHERE
                    Los rubros por los que me interesa agrupar la información =
                    GROUP BY
                    El orden en que quiero presentar mi información ORDER BY
                    Los filtros que quiero que mis datos agrupados tengan HAVING
                </td>
                <td>
                    <img src="../../../../../assets/bd/MySql/estructuraBasica.png" alt="Ejemplo"
                        title="forma basica de crear consulta por varios requisitos">

                </td>
            </tr>

            <tr>
                <td>DDL (Data Definition Language) Comando create 3 estructuras</td>
                <td><strong>1. Dababase</strong>
                    <p>CREATE DATABASE test_db;</p>
                    <p>USE test_db;</p>
                    <strong>2. Create Table</strong>
                    <img src="../../../../../assets/bd/MySql/createTabla.png" alt="Ejemplo"
                        title="forma de crear tabla">
                </td>
                <td>
                    <strong>3. create view -vista- </strong>
                    <img src="../../../../../assets/bd/MySql/CreateVista.png" alt="Ejemplo"
                        title="forma de crear vista">
                </td>
            </tr>

            <tr>
                <td>DDL Comando ALter y Drop</td>
                <td> </td>
                <td>
                    <img src="../../../../../assets/bd/MySql/AlterDrop.png" alt="Ejemplo" title="Modelo">
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <strong>Comando DML: Data Manipulation Language </strong> <br>
                    <img src="../../../../../assets/bd/MySql/comandoDFL.png" alt="Ejemplo"
                        title="Modelo operaciones basicas">
                </td>
            </tr>

            <tr>
                <td> ordenamiento de los datos dependiendo de los criterios</td>
                <td>
                    <p>
                        <strong>ASC</strong> sirve para ordenar de forma ascendente. <br>
                        <strong>DESC</strong> sirve para ordenar de forma descendente. <br>
                        <strong>LIMIT</strong> se usa para limitar la cantidad de resultados que arroja el query. <br>
                        <strong>HAVING</strong> tiene una similitud muy grande con WHERE, sin embargo el uso de ellos
                        depende del orden.
                        Cuando se quiere seleccionar tuplas agrupadas únicamente se puede hacer con HAVING
                    </p>
                </td>
                <td>
                    <img src="../../../../../assets/bd/MySql/order.png" alt="Ejemplo" title="forma corecta e incorecta">
                </td>
            </tr>

            <tr>
                <td>FROM (SENTENCIA JOIN)</td>
                <td>

                    FROM indica de dónde se deben traer los datos y puede ayudar a hacer sentencias y filtros
                    complejos cuando se quieren unir tablas. La sentencia compañera que nos ayuda con este
                    proceso es JOIN.
                    Los diagramas de Venn son círculos que se tocan en algún punto para ver dónde está la
                    intersección de conjuntos. Ayudan mucho para poder formular la sentencia JOIN de la
                    manera adecuada dependiendo del query que se quiere hacer.
                </td>
                <td></td>
            </tr>

            <tr>
                <td>inser JOIN con FK</td>
                <td>
                    <p>UNIÓN En algunas bases de datos, está la opción de usar “FULL OUTER JOIN” para traer
                        todos los datos de ambas tablas.</p>



                </td>
                <td><img src="../../../../../assets/bd/MySql/JoinFK.png" alt=""></td>
            </tr>


            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
