<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Atajos con teclado</td>
                <td>
                    sout + tab  --> System.out.println("") <br>
                    for + tab --> for(int i=0; i{{abreDiamante}}10; i++) {{abrellave}}  {{cierrallave}} <br>
                    Control + E --> Borra las lineas selecionadas o la actual <br>
                    control + Shift + C -->Comenta <br>
                    Shift + Alt + flecha arriba/abajo --> mueve lineas <br>
                    Control + Tab --> Navagacion entre las pestañas de los demas archivos <br>
                    Alt + Shift + f --> tabula el documento de manera adecuada <br>
					Alt + Insert --> Despliega lista de opciones <br>
					Control +Shift + I -->Importa las librerias que se requieran para el proyecto <br>
                </td>
                <td></td>
            </tr>
                
            <tr>
                <td>
                    <a href="https://javadesdecero.es/basico/declaracion-y-tipos-variables/">Tipos de variables</a>
                </td>
                <td>
                    Hay tres tipos de variables en Java: <br><br>
                    1. Variables locales <br>
                    2. Variables de instancia<br>
                    3. Variables estáticas o variables de clase<br><br><br>
                    1. Existen dentro de un bloque de codigo por ejemplo un metodo se crean cuando el metodo arranca y se destruyen cuando el metodo finaliza <br><br>
                    2. Se declaran en una clase fuera de cualquier método, constructor o bloque, estas variables se crean cuando un objeto de la clase se crea y se destruye cuando se destruye el objeto. En caso de que tengamos varios objetos en la clase cada uno tendra una copia de independiente de las variables de instancia. <br><br>
                    3.Son definidadas al inicio con <strong>"public static"</strong>. A diferencia de las variables de instancia, solo podemos tener una copia de una variable estática por clase, independientemente de cuántos objetos creemos. Para acceder a variables estáticas, no necesitamos crear ningún objeto de esa clase, simplemente podemos acceder a la variable
                </td>
                <td>
                    * Cada objeto tendrá su propia copia de la variable de instancia, mientras que solo podemos tener una copia de una variable estática por clase, independientemente de cuántos objetos creemos. <br><br>
                    * Los cambios realizados en una variable de instancia utilizando un objeto no se reflejarán en otros objetos, ya que cada objeto tiene su propia copia de la variable de instancia. En caso de estática, los cambios se reflejarán en otros objetos ya que las variables estáticas son comunes a todos los objetos de una clase.<br><br>
                    * Podemos acceder a variables de instancia a través de referencias de objetos y se puede acceder directamente a las variables estáticas usando el nombre de clase.<br><br>
                </td>
            </tr>
            <tr>
                <td><a href="http://www.manualweb.net/java/tipos-datos-primitivos-java/">tipo de datos primitivos</a></td>
                <td>
                    byte <br>
                    short <br>
                    int <br>
                    long <br>
                    float <br>
                    double <br>
                    boolean <br>
                    char <br>
                </td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>