<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Conceptos Basicos</strong></td>
                <td>
                    * Codigo Fuente: conjunto de instruciones que interpreta el computador atravez de un lenguaje de programacion <br>
                    * Sintaxis: especifica el orden de las palabras y simbolos en las expresiones. Ejemplo x = 8 +2 <br>
                    * Semantica: expecifica el significado de las expresiones.  En el anterior ejemplo es que me refiero a una suma <br>
                </td>
                <td> 
                    * Origin de la estrategia Dividir y conquistaras: es una vieja idea del emperador Julio Cesar que practicaba en sus 
                      peleas y en su manera de gobernar <br>
                    * <strong>Dividir y conquistaras en campo computacional </strong> esta tecnica propone dividir un  problema en varios 
                      <strong>sub problemas</strong> mas pequeños y resolver cada uno de manera independiente. la  <strong>solucion </strong>
                      de todos los sub problemas es <strong>combinada</strong> para finalmente obtener la solucion del problema original <br>
                </td>
            </tr>
            <tr>
                <td><strong>Pensamiento Critico o Analisis Critico</strong> no es como el dicho comenzemos que en el camino vemos</td>
                <td>Definicion: se entiende como el proceso de evaluar y eligir a travez del <strong>razonamiento y la voluntad,</strong> una determinada <strong>opcion</strong>
                    en medio de un universo de <strong>posibilidades</strong>, con el proposito de resolver una situcion <strong>concreta.</strong> Pilares: <br>
                      1. curiosidad: Preguntar, es la opcion mas eficaz, Documentacion. <br>
                      2. Razonamiento: Contexto es decir no fijarnos solo en los detalles: anilizar <br>
                      3. Logica: desarrollo del sentido comun. hasta el grado de argumentar mi posicion <br>
                    </td>

                <td>
                    <strong>Cualidades</strong>
                    1. Calaridad: esponer sus ideas y para hace preguntas dando razonamientos claros y con argumento. <br>
                    2. Contextualizacion: entiende el panorama general del problema y el problema Basico <br>
                    3. Mente abierta: considera seriamente otros puntos de vista y esta alerta a escuchar alternativas <br>
                    4. bien Informado: utilizando fuentes confiables y las referencia. <br>
                    5. Paciente: espera tener sufiente evidencia antes de emitir juicios y cambia de posicion ante evidencias <br>
                    


                </td>
            </tr>
  
            <tr>
                <td> <strong>Solucion de problemas</strong></td>
                <td><strong>*  Especializacion: </strong>es una tecnica para utilitzar ejemplos particulares y especificos que abarquen el contexto del problema
                               para  brindarnos una idea cual puede ser el camino a la respueseta concreta y sus argumentos <br>
                     <strong>* Generializar: </strong>al obtener resultados especificos son utiles y nos ayudan a buscar una respuesta general (patron, metodo, algotitmo). <br>
                               Nota: para lograr  desarrollar logica adecuada es util seguir el proceso: como se indica en la imagen de tres pasos <br>
                                <br>

                                
                </td>
                <td><img src="../../../../../../assets/transversales/Fundamentos Programacion/pensamiento Critico.png" alt="solucion de problemas"></td>
            </tr>
            <tr>
                <td><strong>Metodo ideal para Solucion computacional</strong> Es el preceso de aboradar un <strong>Problema</strong> de manera <strong>sitematica</strong> para crear(codificar)  
                    una <strong>solucion</strong> que pueda ser realizada o ejecutada por un <strong>dispositivo computacional.</strong><br>
                    Nota: sistematico  metodo de ordenacion, organizacion o clasificacion de elementos, es  decir se estroctura una serie de tarias 
                                      para elaborar el programa. ademas en el proceso internamente esta constituido por una secuencia de tareas en un orden determinado y 
                                      con objectivos  especificos que ayudan a construir el programa y su solucion<br> <br>
                                      <a href="https://github.com/carta87/MisionTic/blob/master/MisoinTic%20ciclo1/Programacion/Ejemplo%20para%20palicar%20%20IDEAL.pdf"> Ejemplo</a>
                </td>
                <td>
                                      
                                     <strong>I</strong>dentificar y convertirlo en una oportunidad para desarrollar una solucion creativa <br>
                                     <strong>D</strong>efine la informacion que es util, lo que desean y necesitan los interesados. ademas de las tareas o funciones que llevan a la solucion <br>
                                     <strong>E</strong>strategia es explorar alternativas de solucion mediante la realizacion de ejemplos de ejemplos particulares (Especializacion) <br>
                                                       para plantear una estrategia general (generializacion). <br>  
                                     <strong>A</strong>lgotitmo(el como) se diseña la soluccion de forma detallada, especificando el conjunto de algotitmo para solucionar el problema planteado <br>
                                     <strong>L</strong>ogro: se implementa la solucion en un <strong>lenguaje de Programacion y se valida </strong> el programa en un conjunto de pruebas <br>
                </td>
                <td><img src="../../../../../../assets/transversales/Fundamentos Programacion/metodo ideal.png" alt="metodo ideal"></td>
            </tr>
            
            <tr>
                <td><strong>algotitmo</strong> es una secuencia finita de instruciones precisas(no ambiguas) que realiza una tarea especifica para solucionar un problema <br>
                    <strong>Flujo de control:</strong> es el orden en que realiza las instruciones <br>
                    <strong> <a href="https://support1.netlify.app/test-java">Requirimiento</a> o Requisito de software:</strong> define una <strong>funcion</strong> que el programa que se va construir bebe proporcionar  para contribuir 
                                             a <strong>solucionar un problema</strong> en un contexto real <br>
                </td>
                    
                <td>Pseudocodigo es una especie de programa escrito en un lenguaje de programacion, que igual a español permite escribir ideas. <br>
                    si bien la idea del Pseudocodigo es que sea mas flejible, hay que tener unas consideraciones al escribir un algotitmo en Pseudocodigo,
                    al usar verbos en infinitivo (ingresar, leer, obtener) que serviran para expresar los algortimos <br>

                </td>
                <td><img src="../../../../../../assets/transversales/Fundamentos Programacion/verbosInfinitos.jpg" alt="verbosInfinitos"></td>
            </tr>

            <tr>
                <td><strong>Diagramade flujo</strong> es la representacion visual de nuestros algortimos: que muestra los  pasos en varias cuadros y muestra el 
                    proceso conectando los cuadros entre si</td>
                <td><strong>Partes de un algortimo</strong> <br>
                    * Input o entrada: es el ingreso de datos que necesita el algortimo para funcionar <br>
                    * Proceso: se trata la operacion logica formal que el algortimo emprendera con lo recibido del imput <br>
                    * Output o salida: los resultados obtenidos del proceso sobre el input, una vez terminada la ejecucion del algortimo <br>
                </td>
                <td><img src="../../../../../../assets/transversales/Fundamentos Programacion/diagramade flujo.png" alt=""></td>
            </tr>
  
            <tr>
                <td colspan="3"><img src="../../../../../../assets/transversales/Fundamentos Programacion/algortimo.png" alt="algotitmo"></td>
            </tr>
            <tr>
                <td><strong>Que es Programar</strong> 
                </td>
                <td>es una <strong>conjunto de instruciones</strong> escritas en un  <strong>Lenguaje de programcion</strong> que 
                    realizan una o varias tares especificas cuando son ejecutadas por un <strong>dispositivo computacional</strong></td>
                <td><img src="../../../../../../assets/transversales/Fundamentos Programacion/sintaxis.png" alt="sintaxis"></td>
            </tr>
  
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>
  
