<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="https://innova20.wordpress.com/2017/05/09/soa-y-soap-no-es-lo-mismo/#:~:text=Visto%20todo%20lo%20anterior%2C%20podr%C3%ADamos,de%20mensajer%C3%ADa%20de%20la%20misma.">Diferencia entre SOA y SOAP</a></td>
          <td>
            La diferencia es que SOA es un paradigma de arquitectura orientada a servicios y SOAP es una tipología de mensaje.
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Que es Soa</td>
          <td>
            Services Oriented Architecture <br><br>
            En un primer momento, se definieron 8 principios básicos de que debería cumplir SOA. Posteriormente, con la evolución de los servicios, se añadió la «interoperabilidad» como un nuevo principio: <br><br>
            <strong>1. Contratos de servicio estandarizados:</strong> para que los servicios interactuen entre ellos, estos deben de hacerlo mediante un contrato formal que describa cada servicio y defina los términos en los que será entregada la información<br><br>
            <strong>2. Servicios con bajo acoplamiento:</strong> los servicios deben ser diseñados para interactuar entre ellos de forma autónoma, evitando dependencias entre los mismos<br><br>
            <strong>3. Abstracción:</strong> contarán con una parte visible del servicio y su contrato. De esta forma, los consumidores del servicio, se abstraerán de la lógica del servicio y la tecnología utilizada en el mismo<br><br>
          </td>
          <td>
            <strong>4. Reusabilidad:</strong> todos los servicios deben ser diseñados para el soporte potencial de la reutilización de lógicas de negocio existentes. El fin de éstos servicios no es sustituir a las mismas<br><br>
            <strong>5. Autonomia:</strong> la lógica del servicio debe ser autónoma y no tener dependencia de la lógica de otros servicios. Un servicio debe poder ser ejecutado de manera independiente<br><br>
            <strong>6. Sin estado:</strong> los servicios deben ser diseñados para maximizar el bajo acoplamiento y su escalabilidad. El manejo del estado en los mismos podría impedir estas características<br><br>
            <strong>7. Capacidad de descubrimiento:</strong> los servicios deben contener descripciones para ser descubiertos y entendidos por humanos y los consumidores del servicio, permitiéndoles emplear la lógica descrita en los mismos<br><br>
            <strong>8. Composición:</strong> los servicios podrían estar a su vez compuestos por otros servicios. De esta manera se podrían definir diferentes modelos granulares de servicio. Permitiría de esta forma capas de abstración de servicios por medio de la agrupación a alto nivel de servicios complejos a bajo nivel<br><br>
            <strong>9. Interoperabilidad:</strong> se trata de la capacidad de poder orquestar servicios para que trabajen entre sí. La falta de alguno de los principios anteriores, repercutiría definitivamente en este último, haciendo imposible el mismo
          </td>
        </tr>

        <tr>
          <td>SOA</td>
          <td>arquitetura donse se distribuye la logica en servecios que luego son consumidos atravez de interfaces <br>
              los servicios normalmente estan relacionados aunidades de negocios o areas de la compañia por su complejidadd necesitan de un
              software orquestador y administrador <br>
          </td>
          <td><img src="../../../../../assets/arquitectura/soap/Soat.png" alt="soap"></td>
        </tr>

        <tr>
          <td>Que es Soap</td>
          <td>
            Simple object Access Protocol <br><br>
            formato de mensajería más compatible con el protocolo para su uso con servicios Web XML <br>
          </td>
          <td></td>
        </tr>

          <tr>
              <td><strong><a href="https://www.youtube.com/watch?v=9gmY7z9ev0U&list=PL0VBNmf13bYCfhmksjoIxxszW4ix-Ol59">SOAP</a></strong><br><br><br>
                  Herramienta para analizar Web Services
              </td>
              <td>
                  SoapUI: fundada en 2005 por smartUI, open source, enfocada en 3 enfoques <br><br>
                  <strong>* Enfoque Tools</strong><br><br>
                  properties: Poder obtener o grabar datos en un formulario que tiene SoapUI llamado <strong>properties</strong><br>
                  scripting: agregar bloque de codigo sin necesidad de compilar la cual se ejecuta en memoria ya sea por <strong>groovy script o javascript</strong> <br>
                  Apliaciones Java: permite agregar una Apliacion desarrollada en Java <br>
                  SopaUI runner : es la consola de SoapUi es ejecutar sin la interfaz de Usuario <br>
                  Reportes: Evidenciar las pruebas <br><br>
                  <strong>* Enfoque UI</strong><br><br>
                  Workspace: <br>
                  Project:<br>
                  TestSuite:<br>
                  TestCase:<br>
                  Steps:<br><br>
                  <strong>* Enfoque Test</strong><br><br>
                  Functional Testing:  <br>
                  Load Testing: <br>
                  Security Testing: <br>
                  Automation Testing: <br>
                  Mock Testing <br>
                  Script Testing:
              </td>
              <td>
                  1. Enfoques
                  <img
                  src="../../../../../assets/arquitectura/soap/SoapUI.PNG"
                  alt="Enfoques"
                  title="Enfoques"><br><br>
                  Tools <br>
                  <img
                  src="../../../../../assets/arquitectura/soap/SoapUI1.PNG"
                  alt="tools"
                  title="tools"><br><br>
                  UI<br>
                  <img
                  src="../../../../../assets/arquitectura/soap/SoapUI2.PNG"
                  alt="UI"
                  title="UI"><br><br>
                  Test<br>
                  <img
                  src="../../../../../assets/arquitectura/soap/SoapUI3.PNG"
                  alt="Test"
                  title="Test"><br><br>
              </td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>
