<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Interfaces Graficas estas ventanas son llamadas <br><br>
            ventanas <br>
            marcos <br>
            frames <br>
          </td>
          <td>
            En la version anterior se usaba AWT ahora se usa SWING antes las graficas dependian del sistema operativo ademas de sus comportamientos (efectos y demas) ahora Java Swing tiene incorporado las ventanas y es el desarrollador quien diseña las ventanas y no son delegadas para que lo haga el sistema operativo
          </td>
          <td>
            <img
            src="../../../../../../assets/transversales/Java/InterfacesGraficas.png"
            alt="InterfacesGraficas"
            title="InterfacesGraficas"><br><br>
          </td>
      </tr>

          <tr>
              <td><a href="https://www.youtube.com/watch?v=7q2VBGIKeYc&list=PLU8oAlHdN5BktAXdEVCLUYzvDyqRQJ2lk&index=55">Consideraciones</a></td>
              <td>
                los frames, marcos o ventanas nacen sin tamaño util para ello se debe configurar  <strong>setSize</strong><br><br>
                nacen invisibles se debe configurar <strong>setVisible</strong><br><br>
                Se debe inidicar que hacer cuando se cierran las vantas o marcos con <strong>setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE)</strong><br>
              </td>
              <td></td>
          </tr>

          <tr>
              <td>
                Podemos usar setBounds() que ademas de posicionar el marco nos permite ajustar su ancho y largo y con el ultimo habilita el poder redimencionar el marco o no <br><br>
                Es posible meter un marco dentro de otro marcoy etc... todos ellos estaran dentro del marco <strong>Padre</strong> la ventana principal <br> <br><br>
                <strong>setResizable(true);// habilitar si se puede o no redimencionar</strong> <br><br>
                <strong>setExtendedState(JFrame.MAXIMIZED_BOTH); //abrir a lo maximo de la pantalla</strong>
              </td>
              <td colspan="2">
                <img
                src="../../../../../../assets/transversales/Java/JavaSwingJframe1.png"
                alt="JavaSwingJframe1"
                title="JavaSwingJframe1"><br><br>
              </td>
          </tr>
          <tr>
              <td>Posicion del marco</td>
              <td>
                Se tiene el concepto de un plano cartesiano en este caso cuando buscamos posicionar el marco la coordenada 0,0 no es el centro de la pantalla sino la esquina superior de la pantalla de la manera como lo muestra la imagen <br>
              </td>
              <td>
                <img
                src="../../../../../../assets/transversales/Java/JavaSwingJframe2.png"
                alt="JavaSwingJframe2"
                title="JavaSwingJframe2"><br><br>
              </td>
          </tr>

          <tr>
            <td><strong>toolkit</strong></td>
            <td>
              obtener el tamaño de la pantalla
            </td>
            <td>
              <img
              src="../../../../../../assets/transversales/Java/JavaSwingJframeToolkit.png"
              alt="JavaSwingJframeToolkit"
              title="JavaSwingJframeToolkit"><br><br>
            </td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
  </table>
</div>
