<p>web-sphere works!</p>

<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Que es un servlet</td>
          <td>
            un Servlets es el concepto más básico de componente web a nivel de  Java EE. Se trata de una clase que genera una página HTML <br>
          </td>
          <td>
            <img
            src="../../../../../../assets/servidores/was/Servlet.JPG"
            alt="Servlet"
            title="Servlet">
          </td>
        </tr>
          <tr>
              <td>WAS, <strong>Servidor de aplicaciones WebSphere</strong></td>
              <td>
                * WebSphere es una familia de productos de software privado de IBM. <br><br>
                * El producto es compatible con componentes de aplicaciones que se ajusten a las especificaciones de Java Platform Entreprise Edition (JEE) <br><br>
                * las aplicaciones web se ejecutan en el contenedor web <br><br>
                * las aplicaciones web se componen de uno a mas servlets <br><br>
                * El contenedor web ejecuta los servlets, archivos JSP y otros tipos de inclusiones del lado del servidor <br><br>
                * Cada tiempo de ejecucion del servidor de aplicaciones tiene un contenedor logico que puede modificarse, pero no crearse ni eliminarse <br><br>
                * <strong>cadenas de transporte de contenedores web</strong> cadenas que entran al contenedor web y que constan de un canal de entrada <strong>TCP</strong> que proporciona la conexion a la red, un canal de entrada <strong>HTTP</strong> que atiende solicitudes HTTP y un canal de contenedor web que atiende a los servlets y archivos JSP <br><br>
                * <strong>Procesamiento de los servlets</strong> el contenedor web procesa los servlet y genera 2 objetos un de salida y otro de respuesta y esta clase Java estan los metodos de inicio, proceso y destruccion del servlet y si bien generan HTML tambien puede contener la conexion a BD, filtrar datos atender varios clientes a la vez etc. <br><br>
                * <strong>Gestion de sesiones</strong> soporta javax.servlet.http.HttpSession es decir todo las acciones de los usuarios en el navegador quedan registradas en la sesion <br><br>
                * <strong>Aplicaciones SIP</strong> son programas Java que utilizan al menos un servlet de protocolo de inicio de sesion <strong>Session Initiation Protocol (SIP) </strong><br><br>
                * <strong>Aplicaciones portlet</strong> Son servlet Java reutilizable que aparecen a lo largo de las paginas y sirven para brindar acceso a otras aplicaciones, servicio y contenido web diferente. <br><br>
              </td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td colspan="3"><strong>IBM HTTP Server para i5/OS</strong></td>
          </tr>

          <tr>
              <td>IBM i</td>
              <td>
                * tambien llamado IBM i es un sistema operativo de IBM <br><br>
                * Fue publicado originalmente en 1988 como OS/400, como el único sistema operativo de la línea de sistemas AS/400. Se le cambió el nombre a i5/OS en 2004
              </td>
              <td>
                <img
                src="../../../../../../assets/servidores/was/IBMi.JPG"
                alt="IBMi"
                title="IBMi">
              </td>
          </tr>

          <tr>
            <td><a href="https://www.ibm.com/docs/es/i/7.1?topic=operations-i-concepts">Conceptos de i5/OS</a></td>
            <td>
              * IBM i5/OS es el sistema operativo de la plataforma System i <br><br>
              * System i Navigator es la interfaz gráfica de los clientes Windows. Con System i Navigator, puede utilizar una interfaz gráfica para gestionar y administrar sus sistemas <br>
            </td>
            <td>
              <img
              src="../../../../../../assets/servidores/was/Systemi.JPG"
              alt="Systemi"
              title="Systemi">
            </td>
          </tr>

          <tr>
            <td colspan="3"><strong>IBM HTTP Server para z/OS</strong></td>
          </tr>

          <tr>
            <td></td>
            <td>
              * z/OS es el sistema operativo actual de las computadoras centrales de IBM <br>
              * Del sistema MVT (de 1967) se pasó al MVS en 1974 añadiéndole múltiples espacios de memoria virtual <br><br>
              * agregándole a este compatibilidad UNIX se pasó al OS/390 en 1995 <br><br>
              * y ampliando a este el direccionamiento de 64 bits se pasó a z/OS en el año 2000 <br><br>
              * Programado en	PL/X <br><br>
              * Tipo de programa	sistema operativo tipo Unix <br><br>
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="3" class="titulo"><strong>Consola AIX</strong></td>
          </tr>

          <tr>
            <td>
              la herramienta de wasdmin es un shell de comandos con el fin de administrar todos los artefactos de una célula de IBM WebSphere Application Server
            </td>
            <td>
              * <strong>cd usr/websphere/AppServer/profiles/bin </strong><br><br>
              * <strong>./wsadmin.sh -lang -jython</strong> <br><br>
              * <strong>print Help.AdminApp()</strong><br><br>
              * <strong>print AdminTask.list() </strong> //obtener todas las apliaciones instaladas<br><br>
              * <strong>print Admin.list("WebSphere:cell=XX,node=XX,server=XX")</strong> //obtener todas las apliaciones instaladas en XX JVM<br><br>
              * <strong>print AdminTask.listServers()</strong> //obtener todos los servers.xml de todos los JVM<br><br>
              * <strong>print Admin.listModules("aplicacionXX")</strong> //appname # module URI + and DD URI<br><br>
              * <strong>print Admin.getDeployStatus("aplicacionXX")</strong><br><br>
              * <strong>print AdminConfig.list('JDBCProvider')</strong><br><br>
              * <strong>print AdminConfig.listTemplate('JDBCProvider')</strong> //mostrar una lista de ID de objetos<br><br>
              * <br><br>

            </td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>
