<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>JSP</td>
          <td>
            1. {{abreDiamante}}% = new java.util.Date() %{{cierraDiamante}} <br><br>
            <strong>1. Expresiones</strong> 1 sola linea<br>
            <strong>2. Scriptles</strong> varias lineas puede haber bucles o condicionales<br>
            <strong>3. Declaraciones</strong> declaracion de metodos y variables<br>
          </td>
          <td>
            <img
            src="../../../../../assets/framework/JavaServerPages/tiposDeCodigoJSP.png"
            alt="tiposDeCodigoJSP"
            title="tiposDeCodigoJSP">
          </td>
        </tr>

        <tr>
          <td>Objetos Predefinidos</td>
          <td>
            <strong>* Request =</strong> Objeto que representa el request del cliente y que pertenece a la interfaz <strong>javax.servlet.ServletRequest</strong><br><br>
            <strong>* Response =</strong> la respuesta que el servidor encapsula y devuelve al cliente pertenece a la interfaz <strong>javax.servlet.ServletResponse</strong><br><br>
            <strong>* Session =</strong> Una Session unica para cada usuario pertenece a la interfaz <strong>javax.servlet.http.HttpSession</strong><br><br>
            <strong>* out =</strong>Este proporciona recursos para editar las vistas viene en la interfaz <strong>javax.servlet.jsp.JSpWriter</strong>
          </td>
          <td>
            <img
            src="../../../../../assets/framework/JavaServerPages/ObjetosPredenidos.png"
            alt="ObjetosPredenidos"
            title="ObjetosPredenidos">
          </td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
  </table>
</div>
