<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Grom Object Relational Mapping</strong></td>
                <td>
                    GORM es objeto aplicación Grails ‘relacional cartografía (ORM). Bajo el capó se utiliza Hibernate 3 (una solución muy popular y flexible ORM código abierto) y gracias a la naturaleza dinámica de Groovy con su tipificación estática y dinámica, junto con la convención de Grails, hay mucho menos configuración involucrada en la creación del dominio Grails clases
                </td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td>Un ORM es la forma de abstraer la BD en un objeto, siendo una capa de abstraccion que te permite trabajar con objetos </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>