<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>

          <tr>
              <td>tipos de test</td>
              <td>
                <strong>* test unitarias</strong> : hacen testing sobre bloques de codigo . <br>
                <strong>* test de Integracion</strong> : hacen testing sobre el comportamiento entre componente. <br>
                <strong>* test End to End</strong> : hacen testing sobre flujos completos en escenarios que el usario pueda realizar en la aplicacion. <br>
              </td>
              <td>
                <img
                src="../../../../../../assets/transversales/test-javascript/tipos de test.PNG"
                alt="tipos de test"
                title="tipos de test">
              </td>
          </tr>

          <tr>
              <td>herramientas para hacer testing</td>
              <td>
                * este es un framework hecho por facebook
              </td>
              <td>
                <img
                src="../../../../../../assets/transversales/test-javascript/jest.PNG"
                alt="jest"
                title="jest">
              </td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>
