<div>
    <nav>
        <ul>
            <li *ngFor="let menu of lista">
                <a
                    routerLink="/{{menu}}"
                    routerLinkActive="active"
                >{{menu}}</a>
            </li>
        </ul>
    </nav>
</div>

<div>
  <h3>paginas de interes</h3>
  <a href="https://ed.team/blog/como-se-deciden-las-versiones-del-software">versiones Software</a>

</div>
<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><strong>Arquitetura de Software</strong></td>
              <td> se refiere a la relacion, comunicacion y estrucuramde  los componentes en un sistema <br>
                incluye buenas practicas y patrones comprobados para diferentes escenarios y nos ayudan a modelar 
                una solucion deacuerdo a unas necesidades <br>
              </td>
              <td><img src="../../../../../assets/arquitectura/arquitetura.png" alt="Arquitetura"></td>
            </tr>
            <tr>
              <td><a href="https://docs.jboss.org/weld/reference/latest/en-US/html/environments.html#weld-servlet"> Hay dos tipos de Servidores</a> </td>
              <td>
                <strong>
                  1. contenedor de servlets <br>
                  2. servidor de aplicaciones <br>
                </strong>
              </td>
              <td>
                1. tomacat y Jetty <br>
                2. Wildfly, Eclipse Glassfish, WebSphere IBM,
              </td>
            </tr>

            <tr>
              <td><strong>Web Services</strong></td>
              <td>
                los webs Services son aplicaciones distribuidas que se basan en una serie de protocolos y standares para intercambiar informacion <br><br>
                Distintas aplicaciones hechas en diferentes lenguajes y ejecutadas en x plataforma usan <strong>Web Servides </strong>para intercambiar datos en redes de computadoras <br>
              </td>
              <td></td>
            </tr>


            <tr>
                <td><strong><a href="http://www.jtech.ua.es/ayto/ayto2008/servd-web/sesion03-apuntes.html">Tomcat</a></strong></td>
                <td>
                  <strong>bin</strong> : ejecutables y scripts para arrancar y parar Tomcat. <br>
                  <strong>common</strong> : clases y librerías compartidas entre Tomcat y las aplicaciones web. Las clases se deben colocar en common/classes, mientras que las librerías en formato JAR se deben poner en common/lib. <br>
                  <strong>conf</strong> : ficheros de configuración. <br>
                  <strong>logs</strong> : directorio donde se guardan por defecto los logs.<br>
                  <strong>server</strong> : las clases que componen Tomcat. <br>
                  <strong>shared</strong> : clases compartidas por todas las aplicaciones web.<br>
                  <strong>webapps</strong> : directorio usado por defecto como raíz donde se colocan todas las aplicaciones web.<br>
                  <strong>work y temp</strong> : directorios para almacenar información temporal<br>
                </td>
                <td>
                  Tomcat está compuesto por una serie de módulos cuyo comportamiento es altamente configurable. Incluso se pueden cambiar las clases que utiliza Tomcat por clases propias modificando el fichero server.xml <br><br>
                  <img
                  src="../../../../../assets/arquitectura/ArquitecturaTomcat.png"
                  alt="ArquitecturaTomcat"
                  title="ArquitecturaTomcat"><br><br>
                </td>
            </tr>

            <tr>
                <td><strong>LOGS</strong></td>
                <td>
                  tinen como unica finalidad primordial es la de registrar los eventos del servidor y de las aplicaciones para poder realizar una depuración en caso de que se produzca algún error.
                </td>
                <td>
                  <strong>Estos ficheros se encuentran dentro de la carpeta logs</strong><br><br>
                  <strong>* catalina</strong> : logger global definido al nivel del engine.<br>
                  <strong>* localhost</strong> : logger global a todas las aplicaciones del host localhost.<br>
                  <strong>* manager</strong> : logger que utiliza el manager de Tomcat.<br>
                  <strong>* admin</strong> : logger que utiliza la aplicación de administración.<br>
                </td>
            </tr>

            <tr>
                <td><strong>Ficheros de Configuracion</strong></td>
                <td>
                  <strong>server.xml</strong> : el fichero principal de configuración. <br>
                  <strong>web.xml</strong> : es un fichero en el formato estándar para aplicaciones web con servlets, que contiene la configuración global a todas las aplicaciones.<br>
                  <strong>tomcat-users.xml</strong>: lista de usuarios y contraseñas para autentificación.<br>
                  <strong>catalina.policy</strong> : políticas de seguridad para la ejecución del servidor.<br>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Monolitos</strong> No es un antipatron</td>
                <td> * es una buena arquiterura para soluciones rapidas y pequeñas <br>
                     * permiten construir aplicaciones rapidamente y para purebas de concepto <br>
                     * Funciona para el 99% de aplicaciones pequeñas : Java Spring, Express JS, Diango, ASP Webform <br>
                      
                     <strong>Aplicacion monolitica</strong> <br>
                     * componentes y modulos conectados en un mismo programa <br>
                     * normalmente backend y forotend estan en la misma solucion  <br>
                     * se suele implementar separacion de capaz <br>
                       Nota: Dificil de escalar <br>
                </td>
                <td> <img src="../../../../../assets/arquitectura/EjemploMonolito.png" alt="EjemploMonolito"></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
