<div>
    <a href="https://developer.marvel.com/docs#!/public/getCreatorCollection_get_0"> Api marvel</a>
    <a href="https://docs.thecatapi.com/"> api TheCatApi</a>
    <a href="https://developers.facebook.com/docs"> Api facebook</a>
    <a href="https://developer.twitter.com/en"> Api twitter</a>
</div>

<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Deficiones</td>
                <td>
                    <p><strong>Aplication programmin interface : interfaces de progrtmacion de aplicaciones</strong></p>
                    <p> <strong>API:</strong>  conjunto de funciones, metodos, subrutinas que ofrece o expone un software para que
                        interactue o consuma  el mismo u otro diferente</p>
                    <p><strong>Protocolo</strong>  es el conjunto de reglas en las que se van comunicar dos Entidades. Entre computaoras es
                        atravez del modelo TCP/IP </p>
                     <p><strong>HTTP</strong>es un Protocolo de comunicacion entre aplicaciones basado en el intercambio de
                         texto. El servido devuelve los datos en codigo HTML</p>
                    </td>
                <td>
                    <p><strong>Metodos o Verbos(acciones) HTTP</strong></p>
                    <p><strong>GET:</strong> obtener un recurso desde el cliente </p>
                    <p><strong>POST</strong> solicitud desde el cliente hacia el servidor para Crear</p>
                    <p><strong>PUT:</strong> en este caso podemos actualizar todos los propiedades del recurso </p>
                    <p><strong>PATCH:</strong>actualizar parcialmente un recurso</p>
                    <p><strong>HEADER:</strong>consultar la existencia de un recurso </p>
                    <p><strong>DELETE:</strong>elimina un recurso </p>
                    <p><strong>OPTION:</strong>este solo funciona en lado del navagador: valida o permite el acceso hacia oro dominio,
                     realiza una distincion. <br>
                     <strong> Nota:</strong> CORS: asegura el dominio, porque delimita las solicitudes dentro
                     el mismo dominio y restringue el intercambio de  recursos de origin cruzado.</p>
                </td>
            </tr>

            <tr>
                <td><strong>REST: acronimo Representational State Transfer. transferencia  de estado Representational </strong><br>
                    nota:mientras HTTP es  una transferencia de archivos en REST es tranferencia de recursos
                </td>
                <td>
                    <strong>https =s </strong> subido al servidor/ viaja con cifrado segruro <br>
                    <strong> Cookies y Tokens:</strong> cadena de caracteres que se genera al logiarnos y son devueltos
                    en cada peticion y deben ser enviados en el Request porque representa  los permisos para ciertas soicitudes,
                    pueden ser generadas por la aplicacion, navegador, o por el servidor. estas cookies tienen atributos que contienen variables<br>

                </td>
                <td> <img src="../../../../../assets/arquitectura/REST/RequestResponse.png" alt="RequestResponse"></td>
            </tr>


            <tr>
                <td>REST definicion general: estilo de aquitetura de software enfocado en el intercambio de  recursos basados en HTPP <br>
                    RESTful es una API que esta diseñada alrededror de los conceptos de REST: <br>
                    Recurso, URI, ACCION
                </td>
                <td><strong>Como Funciona una REST</strong> es un conjunto de principios que definen la forma de realizar las operaciones CRUD. En la arquiterura Cliente servidor
                    actuan de forma independiente, siempre y cuando la interfaz sea la misma al procesar una solicitud y una respuesta. el servidor almacena la informacion y la
                    pone a disposicion del usuario, mientas que el usuario toma la informacion y la muestra al usuario o la utiliza para realizar
                    posteriores peticiones de mas informacion.

                </td>
                <td><img src="../../../../../assets/arquitectura/REST/ElementosRESTful.png" alt=""></td>
            </tr>
            <tr>
                <td>
                    <strong>definiciones terminos</strong>
                </td>
                 <td>
                    <strong>URI:</strong> Uniform Resource Locator (Localizador de Recursos Uniforme) <br>
                    <strong>URN:</strong>  El Nombre de Recurso Uniforme o URN (Uniform Resource Name) <br>
                    <strong>CONTENT TYPES:</strong> representa el formato en el que el servidor esta devolvierdo ela informacion
                    para que el cliente o navegador sepa como procesarla <br>
                </td>

                <td colspan="3" class="titulo"><img src="../../../../../assets/arquitectura/REST/PropiedadesREST.png" alt="PropiedadesREST"></td>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>
