<div>
    <h2>Paginas de interes</h2>
    <a href="https://platzi.com/cursos/devtools/">
      herramientas integradas disponibles en las Chrome Dev Tools de Google,
      para editar, y depurar tus aplicaciones web!</a><br />
    <a href="https://platzi.com/clases/2042-prework-windows/32734-instalacion-de-virtualbox/"
      >Instalación de VirtualBox</a><br/>
    <a href="https://platzi.com/clases/2042-prework-windows/32466-instalando-ubuntu-en-una-maquina-virtual/">Instalando Ubuntu en una máquina virtual</a>
    <a href="https://platzi.com/blog/como-personalizar-tu-terminal/">
      como personalisar terminal</a> <br>
  </div>

<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
    <thead>
      <tr>
        <th scope="col">Referencia</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Ejemplo</th>
      </tr>
    </thead>

    <tbody>
      <tr>
          <td><strong>La terminal</strong> </td>
          <td>
              <strong>Que es una terminal: es una cosola de linea de comandos</strong> <br><br>
              Cuando hablamos de una línea de comandos nos referimos a una shell <br>
              *Terminal: Ventanita que nos muestra el prompt. Este aloja a la shell. <br>
              *Línea de comandos (shell): Un programa que toma comandos y los pasa al sistema operativo para hacer algo. <br>
          </td>
          <td> <img src="../../../../../../assets/transversales/cursoTerminal/TiposShell.png" alt="TiposShell"></td>
      </tr>
      <tr>
        <td>Comandos</td>
        <td>windos+shif+s = selecionar una parte de la pantalla</td>
        <td>
          herramientas para windos: <br />
          *dev tools: es un conjunto de herramientas para desarrolladores web
          integrado en el navegador Google Chrome. <br />
          <strong>VisualCode plugin:</strong> <br />
          Prettier: Mejora como se visualiza el código y ayuda a que sea más
          legible <br />
          Color Highlight :Muestra los colores en .css para verlos. <br />
          Live Server : Recarga de forma automática el navegador con los cambios
          que realicemos. <br />
          Path Intellisense: Autocompleta rutas de archivos <br />
          Auto Rename Tag: Permite actualizar al mismo tiempo una pareja de tags
          de html <br />
          Material Icon Theme: Muestra iconos para identificar más fácil los
          tipos de archivos <br />
          Remote - WSL : se cordine desde la terminal a visual code para que se
          instale en linux (code .) x 2 veces <br />
        </td>
      </tr>
      <tr>
        <td><Strong>Navegador web (en inglés: web browser) </Strong></td>
        <td>
          Cuando ingresas una URL o dirección del sitio web (por ejemplo:
          platzi.com), este programa se encarga de localizar el servidor
          correspondiente a esa dirección y enviarle una solicitud mediante el
          Protocolo de Transferencia de Hipertexto (HTTP).El servidor envía la
          respuesta y el navegador convierte este código en un sitio web
          entendible para el usuario. <br />
        </td>
        <td>
          Para presentar el contenido de forma visual, el navegador se vale del
          lenguaje de marcado de hipertexto (HTML) y el lenguaje de estilo en
          cascadas (CSS), que dan un estilo visual a la información que se
          presentará en el navegador mediante etiquetas. Para que el usuario
          pueda interactuar con el contenido que se presenta en el sitio web,
          usualmente se utiliza el lenguaje de JavaScript, que se encarga de
          manejar toda esta interacción en su código y enviarla de vuelta al
          servidor. <br />

          Los navegadores también tienen la capacidad de mostrar otros
          protocolos y prefijos, como HTTPS, que es HTTP seguro (el estándar
          utilizado prácticamente en todos los sitios web actualmente), el
          Protocolo de Transferencia de Archivos (FTP), la gestión del correo
          electrónico (mailto:) y los archivos (file:). <br />

          Además, la mayoría de los navegadores también admiten los complementos
          externos necesarios para mostrar contenidos activos, como videos,
          audio, archivos PDF y juegos dentro de la página.
        </td>
      </tr>
      <tr>
        <td>
          <strong>Windows Subsystem for Linux WSL </strong> <br />
          <a href="https://docs.microsoft.com/en-us/windows/wsl/install-manual"
            >manual instalar</a
          >
          <a
            href="https://platzi.com/clases/2042-prework-windows/32465-que-es-windows-subsystem-for-linux/"
            >video</a
          >
        </td>
        <td>
          Con Windows Subsystem for Linux (WSL) podemos correr un ambiente
          GNU/Linux, incluyendo la línea de comando, utilidades y aplicaciones
          directamente desde Windows, sin tener que usar un virtual machine o un
          dual boot.
        </td>
        <td>
          Windows+ r -> cmd -> winver ..... despues de intalr wsl -l -v<br />

          <strong>windows terminal: instalar</strong>
        </td>
      </tr>

      <tr>
        <td><strong>Ubuntu 20.04 LTS</strong> es un sistema operativo y es una distribución de GNU/Linux
            basada en Debian, que incluye principalmente software libre y de código abierto.
            Puede utilizarse en ordenadores y servidores.</td>
        <td>
            <strong> Comandos </strong> <br />
            *pwd: para saber donde estamos parados <br />
            *cd: cambiar de directorio -> cd.. pasar al directorio padre <br />
            *ls: ver directorio <br />
            *cd / :ir a la raiz <br />
            *cd mnt :abrir un archivo en windows <br />
            *cd Users :mi usuario .... cd Usario/Desktop : mi escritorio <br />
            * cd ~ (126) : nos envia directamente al directorio principal Home
            <br />
            * mkdir : crear carpecta o proyecto. ademas con sudo con permisos
            administrador <br />
            * touch nombreArchivo : crear archivo <br />
            * mv nombreArchivo nombreCarpeta : mover archivos o carpetas <br />
            * code . : para abrir visual studio <br />
            * cat nombreArchivo : monstrar contenido <br />
            * man nombreComando : manual de algunos comandos <br />
            * u : para salir de man <br />
        </td>
        <td>

          <strong>instalando librerias y dependencias</strong>
          * sudo apt-get update : consulta si hayde paquetes o manegador de
          dependencias por instalar <br />
          * sudo : da permisos de administrador <br />
          * sudo apt-get upgrade : agregar las dependcias <br />
          * sudo apt install nodejs : agreagar una ambiente de ejecucion para
          JavaScript - <br />
          * node -v : version <br />
          * sudo apt install npm : manegador de paquetes de node <br />
          * npx : a diferencia npm estes primero es mejor no deja el instlador
          en el pc <br />
          * sudo npm install -g n : actualizar node en Ubuntu <br />
          * sudo n latest // sudo n stable // sudo npm install -g npm@latest
          <br />
          * npx create-react-app test : es como se va llamar la carpeta <br />
          * Control + c : Detener el servidor <br />
          * sudo chown -R carlosTafur ~/ruta : darle permisos para editar<br />
          * rm archivo : eliminar directorio <br />
          * rm -d nombraCarpeta : carpecta vavia <br />
          * rm -rf nombreCarpeta : borrado recursivo si tiene contenido la
          carpecta <br />
        </td>
      </tr>
      <tr>
        <td>
          <strong>Git : gestor versiones y Github es la plataforma microsoft</strong>
          <a href="https://platzi.com/clases/2042-prework-windows/32930-vinculando-nuestra-llave-ssh-en-github/">
            Video</a>
        </td>
        <td></td>
        <td>
          * git --version : version git <br />
          * sudo apt-get update // sudo apt-get upgrade <br />
          * sudo apt install git : instalar <br />
          <strong>Conectar nuesta llave o token SHH en Github</strong>
          * shh-keygen -t rsa -b 4096 -C "correp" :rsa = protocolo ecriptacion
          -b cantidad bytes <br />
          * eval "$(ssh-agent -s)" : :evaluar ssh que existiera un agente y
          estubiera corriendo <br />
          * ssh-copy-id correoGit : copiar llave ssh <br />
          * cd ~/.ssh : llegar donde esta shh -> ls -> cat id_rsa.pub : abrir
          contenidio <br />
          * git config --global user.email correo : enlazar la terminal con git
          <br />
          * git config --global user.name : nombre de cuenta git <br />
          * git config --edit --global : verificar que se configuro bien //
          cerrar cont + x <br />
        </td>
      </tr>

      <tr>
        <td colspan="3" class="titulo"><strong>Power Shell</strong></td>
      </tr>

      <tr>
        <td>Command</td>
        <td>
          * <strong>Get-Command</strong> //nos muestra todos los comandos <br><br>
          * <strong>Get-Command *xxx*</strong> //nos trae todos coincidencias <br><br>
          * <strong>Get-Process</strong> //podemos ver los procesos <br><br>
          * <strong>Get-Service</strong> //podemos ver los Servicios <br><br>
          * <strong>Get-Disk</strong> //ver detalle de las unidades de almacenamiento <br><br>
          * <strong>Get-Volume</strong> //ver detalle de las unidades "particiones " <br><br>
        </td>
        <td>
          <strong>Windows Server </strong>
          * <strong>Get-ADUser -filter *</strong> //Agrega Usuarios "Pero debe ser controlador de dominio el servidor que ejecuta este comando" <br><br>
          conectarse a un servidor que si sea controlador de dominio <br>
          1. abrir una nueva sesion <br><br>
          * <strong>New-PSSession -ComputerName xxxxxx -credential zqm\administrador</strong> //Conectarse a otro equipo <br>ya despues nos pide el password <br>
          <img
          src="../../../../../../assets/transversales/cursoTerminal/1.JPG"
          alt="1"
          title="1"><br><br>
          2. Entrar a la session <br>
          * <strong>Enter-PPSession -Id x</strong> //Ingresar a la session la x es el id que nos mostro en el parametro anterior<br>
          <img
          src="../../../../../../assets/transversales/cursoTerminal/3.jpg"
          alt="3"
          title="3"><br><br>
          ahora podemos ver la lista de Usuarios, ademas podemos ver que estamos adentro de la maquina el prompt cambio  <br>
          <img
          src="../../../../../../assets/transversales/cursoTerminal/2.jpg"
          alt="2"
          title="2"><br><br>
          * <strong>exit</strong> //Salimos de la Session<br><br>
          * <strong>Invoke-Command -ScriptBlock {{this.abrellave}}Get-Process{{this.cierrallave}} -ComputerName {{this.abrellave}}"zqmdc-001"{{this.cierrallave}} -Credential {{this.abrellave}}zqm\adminsitrador{{this.cierrallave}}</strong> //Con este comando podemos ejecutar un bloque de codigo para otro equipo<br>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
