<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Maven </td>
                <td>
                  Maven trabaja apartir de arquetipos <strong>Archetype</strong> que son plantillas, patrón o modelo en las cuales se encuentra un kit de herramientas  </td>
                <td></td>
            </tr>

            <tr>
              <td>CLI maven</td>
              <td>
                para proyectos que emplean el gestor de dependencias o archivo de configuracion maven se puede emplear los siguiente comandos <br><br>
                Windows: mvnw.cmd spring-boot:run <br>
                Mac/Linux: mvnw spring-boot:run<br>
              </td>
              <td>mvn -version// ver version</td>
            </tr>

            <tr>
                <td><strong>SoapUI</strong><br><br><br>
                    Herramienta para analizar Web Services
                </td>
                <td>
                    SoapUI: fundada en 2005 por smartUI, open source, enfocada en 3 enfoques <br><br>
                    <strong>* Enfoque Tools</strong><br><br>
                    properties: Poder obtener o grabar datos en un formulario que tiene SoapUI llamado <strong>properties</strong><br>
                    scripting: agregar bloque de codigo sin necesidad de compilar la cual se ejecuta en memoria ya sea por <strong>groovy script o javascript</strong> <br>
                    Apliaciones Java: permite agregar una Apliacion desarrollada en Java <br>
                    SopaUI runner : es la consola de SoapUi es ejecutar sin la interfaz de Usuario <br>
                    Reportes: Evidenciar las pruebas <br><br>
                    <strong>* Enfoque UI</strong><br><br>
                    Workspace: <br>
                    Project:<br>
                    TestSuite:<br>
                    TestCase:<br>
                    Steps:<br><br>
                    <strong>* Enfoque Test</strong><br><br>
                    Functional Testing:  <br>
                    Load Testing: <br>
                    Security Testing: <br>
                    Automation Testing: <br>
                    Mock Testing <br>
                    Script Testing:
                </td>
                <td>
                    1. Enfoques
                    <img
                    src="../../../../../assets/arquitectura/SoapUI.PNG"
                    alt="Enfoques"
                    title="Enfoques"><br><br>
                    2. Tools
                    <img
                    src="../../../../../assets/arquitectura/SoapUI1.PNG"
                    alt="tools"
                    title="tools"><br><br>
                    2. UI
                    <img
                    src="../../../../../assets/arquitectura/SoapUI2.PNG"
                    alt="UI"
                    title="UI"><br><br>
                    2. Test
                    <img
                    src="../../../../../assets/arquitectura/SoapUI3.PNG"
                    alt="Test"
                    title="Test"><br><br>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>maven y gradle</strong>
                </td>
                <td>
                    Son herramientas de gestion y construccion de proyectos java <br><br>
                    archivos de configuracion <br><br>
                    maven == POM.xml <br><br>
                    gradle == gladle.build
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
