<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Consideraciones</td>
          <td>
            * No es un framework es una libreria. <br>
            * Su objetivo es crear paginas SPA Single Page Applications <strong>modifica unicamente el componente que requiere SIN actualizar toda la pagina. </strong><br>
            * Virtualiza el DOM para poderlo manipular. <br>
            * Usa JSX Javascript con xml. <br>
            * Data Bindig Unidireccional la informacion pasa del padre a hijo y no al contrario. <br>
            * React es un proyecto Open Source diseñado para crear interfaces de usuarios es decir que es <strong>agnostico de la plataforma.</strong><br>
            * <a href="https://es.legacy.reactjs.org/docs/composition-vs-inheritance.html"><strong>composición</strong></a> revisar imagen --- -> <br>
            *
          </td>
          <td>
            <img
            src="../../../../../assets/librerias/React/composicion.PNG"
            alt="composicion"
            title="composicion"><br><br>
          </td>
        </tr>

        <tr>
          <td><a href="https://react.dev/learn/start-a-new-react-project">Frameworks</a></td>
          <td>
            React no es un framework es la libreria o la especificacion quien implementa los estadares que indica react es: <br>
            1. Next.js -- Vercel <br>
            2. Remix -- Shopify <br>
            3. Gastby -- Netlify <br>
            4. Expo -- Expo <br>
            *** Vite <br>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>Comandos</td>
          <td>
            en proyectos de Vite se debe tener cuidado con las rutas relativas. <br><br>
            En Vite, las rutas relativas no se resuelven dinámicamente en JSX.
            Solo funcionan con import o desde public/ con rutas absolutas. <br><br>

            para crear el proyecto desde cero: <br>
            Abrir Terminal o PowerShell<br>
            <strong>npm create vite@latest</strong><br>
            Colocar nombre al proyecto. (le puse ejercicio-1)<br>
            Elegir React.<br>
            Elegir Javascript + SWC (o Typescript + SWC)<br>
            En ese punto se crea el proyecto ejercicio-1. Una vez se cree el proyecto, hay que ingresar a la carpeta del proyecto desde la terminal o PowerShell.
            Este es el comando. <br>
            cd ejercicio-1<br>
            Luego, debemos instalar el paquete de node a nuestro proyecto. El comando es el siguiente:<br>
            <strong>npm install</strong><br>
            Una vez instalado, ya podemos ejecutar el proyecto con el siguiente comando.<br>
            npm run dev.<br><br><strong>o tambien puedes con </strong><br><br>
            * npx create-react-app nombre-del-proyecto //Crear proyecto <br>
            * npx create-react-app nombre-del-proyecto --template typescript //Para TypeScript<br>
            * npm start //Starts the development server. <br>
            * npm run build //Bundles the app into static files for production. <br>
            * npm test //Starts the test runner. <br>
            * npm run eject// Removes this tool and copies build dependencies, configuration files
              and scripts into the app directory. If you do this, you can’t go back! <br>
            * npm test -- --coverage //Run testings con reporte de karma. <br>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>Stateful y Statless components</td>
          <td>
            Los componentes stateful son los componentes que guardan y manejan estados. Por lo que hemos aprendido hasta ahora sería los que usan alguna variable que usa React.useState <br><br>
            Mientras los componentes stateless son los componentes que solo presentan información. Es decir son los componentes que reciben props o simplemente muestran algun contenido
          </td>
          <td></td>
        </tr>

        <tr>
          <td>eventos sinteticos</td>
          <td>
              los eventos en React son llamados eventos sinteticos ya que son una capa de abstraccion que tiene React para manejar los eventos de una manera uniforme en todos los navegadores. <br><br>
              Los eventos sinteticos son objetos que envuelven los eventos nativos del navegador y tienen
          </td>
          <td>
            proporcinando uniformidad sin importar el navegador en el que se ejecuta la aplicacion. <br><br>ejemplo <strong>onClick, onChange, onSubmit, onKeyUp, onKeyDown, onMouseOver, onMouseOut, onFocus, onBlur, entre otros.</strong> <br><br>
          </td>
        </tr>

        <tr>
          <td>componentes</td>
          <td>
            hay dos tipos de componetes aunque actualmente es posible desarrollar usando los dos tipos <strong>Se recomienda usar componetes funcionales </strong>ya que desde la <strong>version 16.8</strong> de react estos implementan <strong>hooks</strong> haciendolos mucho mas potentes que los componentes de clases. <br><br>
            Ademas ya que en React la reautilizacion de codigo se logra por medio de la <strong>composicion en lugar de herencia</strong> <br><br>
            componetes funcionales
            <img
            src="../../../../../assets/librerias/React/componenteFuncional.PNG"
            alt="componenteFuncional"
            title="componenteFuncional"><br><br>
            componetes de clases
            <img
            src="../../../../../assets/librerias/React/componenteClass.PNG"
            alt="componenteClass"
            title="componenteClass"><br><br>
          </td>
          <td>
            <img
            src="../../../../../assets/librerias/React/componentes.PNG"
            alt="componentes"
            title="componentes"><br><br>
          </td>
        </tr>

        <tr>
          <td>
            ReactDOM.render(QUE, DONDE)
          </td>
          <td>
            Quiere decir que como primer parámetro el render recibe el componente que queremos renderizar y el segundo parámetro es donde lo vamos a mostrar
          </td>
          <td>
            El Que
            <img
                    src="../../../../../assets/librerias/React/ReactDom.PNG"
                    alt="ReactDom"
                    title="ReactDom"><br><br>
            El Donde
            <img
                    src="../../../../../assets/librerias/React/ReactDomDonde.PNG"
                    alt="ReactDomDonde"
                    title="ReactDomDonde"><br><br>
          </td>
        </tr>

        <tr>
          <td>JSX (Javascript con Xhtml)</td>
          <td>
            <strong>NO ES ESCRIBIR HTML DENTRO DE JAVASCRIPT</strong><br><br>
            Esto es usar Javascript para renderizar componente de HTML pero <strong>NO</strong> directamente <br><br>De la forma como lo muestra la imagen lo que esta en la linea 8 <strong>NO ES UNA ETIQUETA DE HTML</strong> es una sintaxis que se parece a HTML que usa Javascript para despues internamente convertirla en HTML por medio de la linea 4 <strong>eso es lo que hace internamente</strong><br><br>Lo que esta en la linea 8, 9 y 10 son elementos que hacen parte del compenente App
          </td>
          <td>
            <img
                    src="../../../../../assets/librerias/React/JSX.png"
                    alt="JSX"
                    title="JSX"><br><br>
          </td>
        </tr>

        <tr>
          <td>props <strong>SON propiedades y NO parametros</strong></td>
          <td>
            Esto es para comunicar a los componentes entre si <br>
          </td>
          <td>
            Asi es como un componente setea parametros
            <img
                    src="../../../../../assets/librerias/React/propsSend.PNG"
                    alt="propsSend"
                    title="propsSend"><br><br>
            Asi es como una funcion recibe unos parametros
            <img
                    src="../../../../../assets/librerias/React/props.PNG"
                    alt="props"
                    title="props"><br><br>
          </td>
        </tr>

        <tr>
          <td>CSS en React</td>
          <td>
            Se puede de 2 formas <br><br>
            1. Por medio de un archivo externo. <br>
            2. Estilos aplicado en linea. <br><br>
            si es de la segunda manera notese que las directivas no tienen "-" pasando a ser CamelCase y el valor esta entre comillas simple <br><br>Y en la linea 14 como se muestra en la imagen se inserta el objeto Javascript y tambien se puede meter toda la regla CSS entre doble {{abrellave}}{{abrellave}}reglas CSS {{cierrallave}}{{cierrallave}}
          </td>
          <td>
            <img
                    src="../../../../../assets/librerias/React/2.png"
                    alt="2"
                    title="2"><br><br>
          </td>
        </tr>

        <tr>
          <td>Etiquetas</td>
          <td>
            Como se conoce las etiquetas en React?? son similirares al XHTML <strong>Es una sintaxis llamada JSX</strong> que al pasar por Reac.createElemet(Que, Donde) se convierten en etiquetas XHTML. <br><br>
            para agregar atributos a continuacion se relaciona una tabla comparativo en como es en HTML y React JSX <br><br>
            <strong>XHTML vs React JSX</strong><br><br>
            * class ---- className //Ya que la palabra class es una palabra reservada por Javascript para crear clases.<br><br>
            * for ---- htmlFor
          </td>
          <td></td>
        </tr>

        <tr>
          <td colspan="3" class="titulo"><a href="https://es.legacy.reactjs.org/docs/hooks-intro.html">hooks</a></td>
        </tr>

        <tr>
          <td>Manejo del Estado <br><strong>const {{abreCuadro}} {{cierraCuadro}}= React.useState{{abreParentesis}}{{cierraParentesis}};</strong></td>
          <td>
            * Cada vez que se llama al actualizar del estado <strong>"setXXX"</strong> React.js <strong>RENDERIZA EL COMPONENTE</strong>. <br><br>
            <strong>*El estado en React.js es INMUTABLE{{abreParentesis}}De manera Directa{{cierraParentesis}} y solo de la forma como esta en la linea 13 por medio de una funcion "actualizadora" controlada por ReactJS para que esta edite el historial de cambios de los estados podemos editar el estado.</strong><br><br>
            En la imagen se muestra el Manejo del Estado donde la linea 13 es :<br><br>
            const [valorQueVaAtomarDespues, funcionQueLlamaInternamente] = React.useState('valor inicial'); <br>
            const [patito, setPatito] = React.useState('juan'); <br><br><br>
            Y en el pararrafo estara tomando el valor inicial de "React.useState('valor inicial')" pero en este caso su valor sera igual a un String vacio y el input estara cambiando el valor de searchValue por medio de la funcion setSearchValue
          </td>
          <td>
              <img
              src="../../../../../assets/librerias/React/Manejo del Estado.png"
              alt="Manejo del Estado"
              title="Manejo del Estado"><br><br>
          </td>
        </tr>

        <tr>
          <td>Efectos en React <br><strong>React.useEffect{{abreParentesis}} funcion anonima , array de dependencias{{cierraParentesis}};</strong></td>
          <td>
            De la imagen adjunta se espera que imprima los mensajes en el siguiente order: <br><br>
            log 1 <br>
            log 2 <br>
            log 3 <br><br>
            Pero en realidad se imprime. <br>
            log 1 <br>
            log 3 <br>
            log 2 <br><br>
            y luego solo imprime 1 y 3: esto sucede por 2 causas: <br><br>
            <strong>1ro.</strong> cuando se renderiza por primera vez el imprime todos los console.log  PERO imprime de ultimas el console.log <strong>Looooooooooooooog 2</strong> que esta encapsulado en la funcion React.useEffect y luego solo imprime 1 y 3 pues ya el 2 lo cargo en memoria, Esto es ultil para logica que es muy pesado y solo se requiere que se ejecute una sola vez. <br><br>
            <strong>2do.</strong> y solo se va a imprimir cuando el estado cambie como se muestra en la imagen 2, en este caso se agrega un segundo parametro que es un array donde se indica va a volver a cargar cuando el estado de <strong>totalToDo</strong> CAMBIE....
          </td>
          <td>
            imagen 1 <br>
            <img
            src="../../../../../assets/librerias/React/Efectos1.PNG"
            alt="Efectos1"
            title="Efectos1"><br><br>
            imagen 2
            <img
            src="../../../../../assets/librerias/React/Efectos.PNG"
            alt="Efectos"
            title="Efectos"><br><br>
            Forma	                          Cuándo se ejecuta
            useEffect(() => {...})	        En cada render
            useEffect(() => {...}, [])	    Solo una vez (al montar el componente)
            useEffect(() => {...}, [x, y])	Cuando cambia x o y
          </td>
        </tr>

        <tr>
          <td><strong><a href="https://www.youtube.com/watch?v=K4vCTeKKCkU">CustomHooks</a></strong></td>
          <td>
              * Deben de empezar con la palabra <strong>use</strong>XXXXX. <br><br>
              * la idea es que dentro de esta funcion se maneje el estado y NO el otro componente. <br><br>
          <img
            src="../../../../../assets/FrontEnd/JavaScript/CustonHooksAntes.PNG"
            alt="CustonHooksAntes"
            title="CustonHooksAntes"><br><br>
          </td>
          <td>
              <img
              src="../../../../../assets/FrontEnd/JavaScript/CustonHooksDespues.PNG"
              alt="CustonHooksDespues"
              title="CustonHooksDespues"><br><br>
          </td>
        </tr>

        <tr>
          <td colspan="3" class="titulo"><strong>Testing</strong></td>
        </tr>

        <tr>
          <td></td>
          <td>npm test -- --coverage</td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
  </table>
</div>
