<p>principal works!  Version 15</p>
<div>
    <router-outlet></router-outlet>
</div>


<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Fases Analisis de Datos <strong>Google Data Analytics</strong> </td>
              <td>
                * Al igual como es un <strong>Dectective lo es un Analisista de Datos</strong><br><br>
                * Los datos deben prepararse antes de poder analizarse y utilizarse; y luego se deben compartir los hallazgos y actuar en consecuencia. <br><br>
                <strong>Preguntar:</strong> Desafío empresarial/objetivo/pregunta. <br>
                <strong>Preparar:</strong> Generación, recopilación, almacenamiento y administración de datos. <br>
                <strong>Procesar:</strong> Limpieza de datos/integridad de datos. <br>
                <strong>Analizar:</strong> Exploración, visualización y análisis de datos. <br>
                <strong>Compartir:</strong> Comunicación e interpretación de los resultados. <br>
                <strong>Actuar:</strong>  Uso de tus conocimientos para resolver el problema. <br>
              </td>
              <td></td>
          </tr>

          <tr>
            <td>Fases Analisis de Datos <strong>Ciclo de vida del análisis de datos de EMC</strong> </td>
              <td>
                <strong>1. Descubrimiento.</strong><br>
                <strong>2. Preprocesamiento de datos.</strong><br>
                <strong>3. Planificación de modelos.</strong><br>
                <strong>4. Construcción de modelos.</strong><br>
                <strong>5. Comunicación de los resultados.</strong><br>
                <strong>6. Puesta en funcionamiento.</strong><br>
              </td>
              <td></td>
          </tr>

          <tr>
            <td>Fases Analisis de Datos <strong>Ciclo de vida iterativo de SAS</strong> </td>
              <td>
                <strong>1. Preguntar.</strong><br>
                <strong>2. Preparar.</strong><br>
                <strong>3. Explorar.</strong><br>
                <strong>4. Modelar.</strong><br>
                <strong>5. Implementar.</strong><br>
                <strong>6. Actuar.</strong><br>
                <strong>7. Evaluar.</strong><br>
              </td>
              <td></td>
          </tr>

          <tr>
            <td>Fases Analisis de Datos <strong>Ciclo de vida del análisis computacional de datos basado en proyectos</strong> </td>
              <td>
                <strong>1. Identificación del problema.</strong><br>
                <strong>2. Diseño de requisitos de datos.</strong><br>
                <strong>3. Preprocesamiento de datos.</strong><br>
                <strong>4. Realización de análisis de datos.</strong><br>
                <strong>5. Visualización de datos.</strong><br>
              </td>
              <td></td>
          </tr>

          <tr>
            <td>Fases Analisis de Datos <strong>Ciclo de vida del análisis de big data</strong> </td>
              <td>
                <strong>1. Evaluación de casos de negocio.</strong><br>
                <strong>2. Identificación de datos.</strong><br>
                <strong>3. Adquisición y filtrado de datos.</strong><br>
                <strong>4. Extracción de datos.</strong><br>
                <strong>5. Validación y limpieza de datos.</strong><br>
                <strong>6. Agregación y representación de datos.</strong><br>
                <strong>7. Análisis de datos.</strong><br>
                <strong>7. Visualización de datos.</strong><br>
                <strong>7. Utilización de los resultados del análisis.</strong><br>
              </td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>
