<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Comandos</td>
          <td>
            * npx create-react-app nombre-del-proyecto //Crear proyecto <br>
            * npx create-react-app nombre-del-proyecto --template typescript //Para TypeScript<br>
            * npm start //Starts the development server. <br>
            * npm run build //Bundles the app into static files for production. <br>
            * npm test //Starts the test runner. <br>
            * npm run eject// Removes this tool and copies build dependencies, configuration files
              and scripts into the app directory. If you do this, you can’t go back! <br>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>
            ReactDOM.render(QUE, DONDE)
          </td>
          <td>
            Quiere decir que como primer parámetro el render recibe el componente que queremos renderizar y el segundo parámetro es donde lo vamos a mostrar
          </td>
          <td></td>
        </tr>

        <tr>
          <td>JSX</td>
          <td>
            <strong>NO ES ESCRIBIR HTML DENTRO DE JAVASCRIPT</strong><br><br>
            Esto es usar Javascript para renderizar componente de HTML pero <strong>NO</strong> directamente <br><br>De la forma como lo muestra la imagen lo que esta en la linea 8 <strong>NO ES UNA ETIQUETA DE HTML</strong> es una sintaxis que se parece a HTML que usa Javascript para despues internamente convertirla en HTML por medio de la linea 4 <strong>eso es lo que hace internamente</strong><br><br>Lo que esta en la linea 8, 9 y 10 son elementos que hacen parte del compenente App
          </td>
          <td>
            <img
                    src="../../../../../assets/framework/React/JSX.png"
                    alt="JSX"
                    title="JSX"><br><br>
          </td>
        </tr>

        <tr>
          <td>CSS en React</td>
          <td>
            Se puede de 2 formas <br><br>
            1. Por medio de un archivo externo. <br>
            2. Estilos aplicado en linea. <br><br>
            si es de la segunda manera notese que las directivas no tienen "-" pasando a ser CamelCase y el valor esta entre comillas simple <br><br>Y en la linea 14 como se muestra en la imagen se inserta el objeto Javascript y tambien se puede meter toda la regla CSS entre doble {{abrellave}}{{abrellave}}reglas CSS {{cierrallave}}{{cierrallave}}
          </td>
          <td>
            <img
                    src="../../../../../assets/framework/React/2.png"
                    alt="2"
                    title="2"><br><br>
          </td>
        </tr>

        <tr>
          <td>Etiquetas</td>
          <td>
            Como se conoce las etiquetas que estas en React son son etiquetas de HTML son similirares que despues pasan por el Reac.createElemet(Que, Donde) para despues si pasar a ser etiquetas HTML. <br>
            para agregar atributos a continuacion se relaciona una tabla comparativo en como es en HTML y React JSX <br><br>
            <strong>HTML vs React JSX</strong><br><br>
            * class ---- className //Ya que la palabra class es una palabra reservada por Javascript para crear clases <br>
            * for ---- htmlFor
          </td>
          <td></td>
        </tr>

        <tr>
          <td>Manejo del Estado</td>
          <td>
            En la imagen se muestra el Manejo del Estado donde la linea 13 es :<br><br>
            const [valorQueVaAtomarDespues, funcionQueLlamaInternamente] = React.useState('valor inicial'); <br>
            const [patito, setPatito] = React.useState('juan'); <br><br><br>
            Y en el pararrafo estara tomando el valor inicial de "React.useState('valor inicial')" pero en este caso su valor sera igual a un String vacio y el input estara cambiando el valor de searchValue por medio de la funcion setSearchValue
          </td>
          <td>
              <img
              src="../../../../../assets/framework/React/Manejo del Estado.png"
              alt="Manejo del Estado"
              title="Manejo del Estado"><br><br>
          </td>
        </tr>

        <tr>
          <td>Stateful y Statless components</td>
          <td>
            Los componentes stateful son los componentes que guardan y manejan estados. Por lo que hemos aprendido hasta ahora sería los que usan alguna variable que usa React.useState <br><br>
            Mientras los componentes stateless son los componentes que solo presentan información. Es decir son los componentes que reciben props o simplemente muestran algun contenido
          </td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
  </table>
</div>
