<div class="container">
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>LINQ</strong><br><br>Language Integrated Query</td>
                <td>
                    o Consulta Integrada en el Lenguaje es un componente de la plataforma Microsoft .NET que agrega capacidades de consulta a datos de manera nativa a los lenguajes .NET, si bien existen implementaciones para Java, PHP, JavaScript y ActionScript <br><br>
                    First()             //trae el primero <strong>PERO</strong> si no hay un 1° registro produce una esception.<br>
                    FirstOrDefault()    //trae el primero <strong>PERO</strong> si no hay un 1° registro trae uno por default.<br>
                    Last()              //trae el ultimo <strong>PERO</strong> si no hay un ultimo registro produce una esception.<br>
                    LastOrDeafult()     //trae el ultimo <strong>PERO</strong> si no hay un ultimo registro trae uno por default.<br>
                    single()            //trae un unico registro <strong>PERO</strong> debemos estar seguros que solo nos devuelve un registro (revisar).<br>
                    singleOrDefault()   //trae un unico registro <strong>PERO</strong> debemos estar seguros que solo nos devuelve un registro (revisar).<br><br><br>
                    La siguiente imagen es una muestra de como se puede ejecutar lo anterior <br><br>
                </td>
                <td>
                    <img               
                    src="../../../../../assets/backend/cs/LNQSeleccion.png"
                    alt="LNQSeleccion"
                    title="LNQSeleccion">
                </td>
            </tr>
                
            <tr>
                <td></td>
                <td>Es un lenguaje de consultas de Microsoft </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>