<div class="container">
  <table class="table table-striped table-hover table-bordered align-middleb">
    <thead>
      <tr>
        <th scope="col">Referencia</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Ejemplo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Buscar etiqueta map </td>
        <td>https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map</td>
        <td>
          <img
          src="../../../../../assets/FrontEnd/html/mapEtiqueta.png"
          alt="mapEtiqueta"
          title="mapEtiqueta">
        </td>
      </tr>

      <tr>
        <td><strong><u>etiquetas</u></strong> </td>
        <td>
          {{abreDiamante}}u{{cierraDiamante}} {{abreDiamante}}/u{{cierraDiamante}}: <u>underline</u> etiqueta para subrayado <br>
          {{abreDiamante}}i{{cierraDiamante}} {{abreDiamante}}/i{{cierraDiamante}}: <i>italic</i> Poner en cursiva <br>
          {{abreDiamante}}em{{cierraDiamante}} {{abreDiamante}}/em{{cierraDiamante}}: Poner en cursiva <br>
          {{abreDiamante}}b{{cierraDiamante}} {{abreDiamante}}/b{{cierraDiamante}}: <b>bold</b> Poner en negrilla <br>
          {{abreDiamante}}span style = "background-color: #FFFF00;"{{cierraDiamante}} {{abreDiamante}}/span{{cierraDiamante}} <span style = "background-color: #FFFF00;">Resaltar en amarillo</span><br>
          {{abreDiamante}} {{cierraDiamante}} {{abreDiamante}}/ {{cierraDiamante}} <br>
          {{abreDiamante}} {{cierraDiamante}} {{abreDiamante}}/ {{cierraDiamante}} <br>
        </td>
        <td></td>
      </tr>

      <tr>
        <td><a href="">Etiqueta Select </a></td>
        <td>
          para usarla debes <br>
          * tener la estructura <br>
          * usar ngModel para sacar el dato en una variable <br>
          * importar el FormsModule en module <br><br>
          <select name="select" [(ngModel)]="busqueda">
            <option value="value1">Value 1</option>
            <option value="value2" selected>Value 2</option>
            <option value="value3">Value 3</option>
          </select>
        </td>
        <td>
          <p>haz seleccionado la opcion {{busqueda}}</p>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
