<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

</body>
</html>
<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Variables</td>
              <td>
                tambien podemos definir variables de tipo <strong>Const</strong> Debe de ir en mayuscula y no se puede sobre-escribir <br><br>

                <strong>Const</strong> VARIABLEX <strong>As Double</strong> = 2.5 <br>
                <strong>Dim</strong> VariableY <strong>As Char</strong> = "a" <br>
                <strong>Dim</strong> Condicion <strong>As Boolean</strong> = True <br><br><br>
                <img
                src="../../../../../assets/FrontEnd/VB/array.png"
                alt="array"
                title="array"> <br><br>
                Array Bidimensional
                <img
                src="../../../../../assets/FrontEnd/VB/arrayBidimensional.png"
                alt="arrayBidimensional"
                title="arrayBidimensional">
              </td>
              <td>1.
                <img
                src="../../../../../assets/FrontEnd/VB/variables.png"
                alt="variables"
                title="variables"><br><br>
                2.
                <img
                src="../../../../../assets/FrontEnd/VB/tiposDatos.png"
                alt="tiposDatos"
                title="tiposDatos">
              </td>
          </tr>

          <tr>
              <td>Leer y escribir por consola</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/leeryEscribir.png"
                alt="leeryEscribir"
                title="leeryEscribir">
            </td>
          </tr>

          <tr>
              <td>Conversiones de variables</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/ConversionVariables.png"
                alt="ConversionVariables"
                title="ConversionVariables">
            </td>
          </tr>
          <tr>
              <td>Operadores de comparacion</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/OperadoresComparacion.png"
                alt="OperadoresComparacion"
                title="OperadoresComparacion">
            </td>
          </tr>

          <tr>
              <td>Operadores Aritmeticos</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/operadoresAritmeticos.png"
                alt="operadoresAritmeticos"
                title="operadoresAritmeticos">
            </td>
          </tr>
          <tr>
              <td>if</td>
              <td></td>
              <td>
                1.
                <img
                src="../../../../../assets/FrontEnd/VB/if.png"
                alt="if"
                title="if"><br>
                2.
                <img
                src="../../../../../assets/FrontEnd/VB/if2.png"
                alt="if2"
                title="if2">
            </td>
          </tr>

          <tr>
              <td>Case</td>
              <td></td>
              <td>
                1.
                <img
                src="../../../../../assets/FrontEnd/VB/case.png"
                alt="case"
                title="case"> <br>
                2.
                <img
                src="../../../../../assets/FrontEnd/VB/case2.png"
                alt="case2"
                title="case2">
            </td>
          </tr>

          <tr>
              <td>for</td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/ForeEach.png"
                alt="ForeEach"
                title="ForeEach">
              </td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/For.png"
                alt="For"
                title="For">
            </td>
          </tr>

          <tr>
            <td>procedimiento</td>
            <td>
              VB permite definir varios procedimientos entre ellos: <br><br>
              1. procedimiento Sub. <strong>No retornan valores, pueden o no recibir parametros</strong><br>
              2. procedimiento Function. <strong>Si retornan valores, pueden o no recibir parametros</strong><br>
              3. procedimiento Property. <br>
              4. procedimiento Operators. <br>
            </td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/procedimiento.png"
              alt="procedimiento"
              title="procedimiento">
          </td>
          </tr>

          <tr>
            <td>funcion</td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/funcion.png"
              alt="funcion"
              title="funcion">
          </td>
          </tr>

          <tr>
            <td>ParametrosOpcionesVref</td>
            <td colspan="2">
              <img
              src="../../../../../assets/FrontEnd/VB/ParametrosOpcionesVref.png"
              alt="ParametrosOpcionesVref"
              title="ParametrosOpcionesVref">
            </td>
          </tr>

          <tr>
            <td>PasoParametrosIndefinidos</td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/PasoParametrosIndefinidos.png"
              alt="PasoParametrosIndefinidos"
              title="PasoParametrosIndefinidos">
            </td>
          </tr>

          <tr>
            <td>Metodos para <strong>String</strong></td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/MethodsString.png"
              alt="MethodsString"
              title="MethodsString"><br><br>
              2.
              <img
              src="../../../../../assets/FrontEnd/VB/MethosString.png"
              alt="MethosString"
              title="MethosString">
            </td>
          </tr>

          <tr>
              <td colspan="3">POO</td>
          </tr>

          <tr>
            <td>Constructor</td>
            <td></td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/Constructor.png"
              alt="Constructor"
              title="Constructor">
            </td>
          </tr>

          <tr>
            <td>Set, get, Property </td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/instaciacionDeObjeto.png"
              alt="instaciacionDeObjeto"
              title="instaciacionDeObjeto">
            </td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/getSetProperty.png"
              alt="getSetProperty"
              title="getSetProperty">
            </td>
          </tr>

          <tr>
              <td>Sobrecarga de Metodos</td>
              <td></td>
              <td>
                <img
                src="../../../../../assets/FrontEnd/VB/sobrecargade Methods.png"
                alt="sobrecargade Methods"
                title="sobrecargade Methods">
              </td>
          </tr>

          <tr>
            <td>Shared</td>
            <td>
              <img
              src="../../../../../assets/FrontEnd/VB/Shared.png"
              alt="Shared"
              title="Shared">
            </td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>


      </tbody>
  </table>
</div>
