<div class="container">
  <table class="table table-striped table-hover table-bordered align-middle">
      <thead>
          <tr>
              <th scope="col">Referencia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ejemplo</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><a href="https://codigofacilito.com/articulos/ediciones-java">Ediciones de Java </a> </td>
              <td>
                La plataforma Java, posee diferentes tipos de ediciones (no confundir con versiones). Cada una de estas ediciones fueron desarrolladas para atacar ciertos problemas sobre ambientes en particular.
              </td>
              <td>
                1. Java Micro Edition (Java ME) <br>
                2. Java Standard Edition (Java SE) <br>
                3. Java Enterprise Edition (Java EE) <br>
              </td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>

          <tr>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>
