<div class="container">
    <button class="btn btn-danger">boton de prueba</button>
    <table class="table table-danger table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Referencia</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ejemplo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Comandos git</td>
                <td>
                    npm rebuild node-sass <br />
                    npm install --save-dev node-sass <br>
                    npm update caniuse-lite <br>
                    npm install <br />
                    ng build <br />
            
                    angular <br />
                    npm install -g @angular/cli <br />
                    ng new project-name --routing=true --style=scss<br />
                    https://angular.io/cli <br />
                    ng serve <br />
                </td>
                <td></td>
            </tr>
    
            <tr>
                <td>
                    mkdir // crear carpeta <br>
                    rm "Xarchivo" //borrar archivo <br>
                    cat "Xarchivo" //ver archivo en consola <br>
                    touch //crear archivo <br>
                    clear o cls //borrar pantalla <br>
                    ls o dir // ver archivos <br>
                    pwd mostrar la ruta donde se enecuentra <br>
                    git --version // version de git <br> 
                    ssh -v //version de ssh <br>
                    godoc fmt //documentation de la liberia <br>
                    ls -lh //ver no solo los documentos que estan en esa carpeta si no ademas los permisos solo estos documentos <br>   
                </td>
                <td></td>
                <td></td>
            </tr>
    
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>